/**
 * Component: Media Cover.
 */

@use "../../../scss/variables";
@use "../../../scss/functions";

.one-novanta-media-cover {
	$self: &;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-height: functions.clamp-size(variables.$sm, variables.$xxxl, 400px, 640px);
	padding-block: var(--wp--preset--spacing--50);
	overflow: hidden;
	margin-block-start: var(--grid-section-gutter);

	&:first-child {
		margin-block-start: 0;
	}

	&__image-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-block-end: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		// Add overlay.
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		}

		#{$self}--content-align-right &::after {

			@media screen and (min-width: variables.$lg) {
				background: linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}

	&__content {
		color: var(--wp--preset--color--background);
		width: 100%;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		#{$self}--content-align-right & {

			@media screen and (min-width: variables.$lg) {
				justify-content: flex-end;
			}
		}
	}

	&__content-wrap {

		@media screen and (min-width: variables.$md) {
			max-width: 50%;
		}
	}

	&--content-width-narrow &__content-wrap {

		@media screen and (min-width: variables.$md) {
			max-width: 50%;
		}

		@media screen and (min-width: variables.$lg) {
			max-width: 30%;
		}
	}

	.buttons {
		margin-block-start: var(--wp--preset--spacing--30);
		gap: var(--wp--preset--spacing--30);
	}
}
