/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../../components/cards/image-tile";

.image-tile {
	// Remove padding and margin added by RichText component.
	&__pre_heading,
	&__heading {
		padding: 0;
		margin: 0;
	}

	.block-editor-media-placeholder {
		width: 100%;
		height: 100%;
		border-radius: var(--wp--custom--border-radius-normal);
		display: flex;
		justify-content: center;
	}

	&__image-wrap {
		margin-bottom: 1em;
	}
}

.image-tile__settings-panel {
	// Editor panel styles.
	&__image-preview {
		margin-block-end: var(--wp--preset--spacing--20);
		border-radius: 4px;
		border: 1px solid #ddd;
	}

	&__media--info {
		color: var(--textAlert);
	}

	&__add-link {
		margin-block-start: var(--wp--preset--spacing--20);

		span {
			margin-left: var(--wp--preset--spacing--10);
		}
	}
}
