/**
 * Styles for the header search block.
 *
 * Block: Header Search
 */

@use "../../scss/variables";

.header-search {
	$self: &;
	position: relative;
	width: 100%;

	@media screen and (min-width: variables.$xxl) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		right: 0;
		width: auto;
	}

	&__form {
		--form-size: 50px;
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid var(--wp--preset--color--quaternary);
		padding: 0 var(--wp--preset--spacing--20);
		height: var(--form-size);
		margin: 0;
		position: relative;
		background-color: var(--wp--preset--color--background);
		border-radius: calc(var(--form-size) / 2);
		transition: all 0.3s ease-out;

		@media screen and (min-width: variables.$xxl) {
			width: var(--form-size);
			border: none;
		}
	}

	&__search-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__close-icon {
		display: none;
	}

	// Specificity required for overriding default style
	&__input[type="text"] {
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
		opacity: 1;
		font-size: var(--wp--preset--font-size--normal);
		transition: all 0.3s ease-out;

		@media screen and (min-width: variables.$xxl) {
			opacity: 0;
			width: 0;
		}
	}

	&__clear {
		text-transform: uppercase;
		font-size: var(--wp--preset--font-size--small);
		color: var(--wp--custom--color-dark-gray);
		font-weight: 600;
		margin-inline-end: var(--wp--preset--spacing--60);

		&:focus-visible {
			outline: 2px solid var(--wp--preset--color--quinary);
		}

		&--hidden {
			display: none;
		}

		&--visible {
			display: block;
		}
	}

	&__button {
		--button-size: 46px;
		width: var(--button-size);
		height: var(--button-size);
		aspect-ratio: 1;
		position: absolute;
		right: 0;
		isolation: isolate;
		color: var(--wp--custom--color-dark-gray);
		border-radius: 50%;
		display: none;

		&:hover::after {
			transform: scale(1) translateZ(0); // translateZ(0) used to fix icon shaking issue in Safari
			opacity: 1;
		}

		&:focus-visible {
			outline: 2px solid var(--wp--preset--color--quinary);
		}

		@media screen and (min-width: variables.$xxl) {
			display: block;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -1rem;
			width: 1px;
			height: 1rem;
			transform: translateY(-50%);
			background-color: var(--wp--preset--color--tertiary);
			display: none;
		}

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			transform: scale(0) translateZ(0); // translateZ(0) used to fix icon shaking issue in Safari
			opacity: 0;
			transition: all 0.15s ease-in-out;
			z-index: -1;
		}
	}

	&__button-submit[type="submit"] {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		width: 42px;
		height: 42px;
		aspect-ratio: 1;
		right: 3px;

		@media screen and (min-width: variables.$xxl) {
			display: none;
		}

		&::before {
			display: block;
			left: calc(-1 * var(--wp--preset--spacing--10));
		}

		svg {
			width: var(--wp--preset--spacing--20);
			height: var(--wp--preset--spacing--20)
		}
	}

	&[expand="true"] {
		width: 100%;

		#{$self}__form {
			width: 100%;
			padding: var(--wp--preset--spacing--10) 24px;
			z-index: 100;
		}

		#{$self}__input {
			width: calc(100% - var(--wp--preset--spacing--20));
			opacity: 1;
		}

		#{$self}__button {
			--button-size: 36px;
			right: 0.5rem;

			&::before {
				display: block;
			}
		}

		#{$self}__close-icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#{$self}__search-icon {
			display: none;
		}
	}
}

// Show the backdrop only for large devices
@media screen and (min-width: variables.$xxl) {
	// Class `search-backdrop` added to body so that we can remove this in Window click event
	.search-backdrop::before {
		content: "";
		position: fixed;
		inset: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(28, 28, 28, 0.4);
		z-index: 99;
		transition: all 0.3s ease-out;
	}
}
