/**
 * Media Text Column editor styles
 */

@use "../../scss/variables";

// Target pseudo element to add border radius, to make it similar to the component.
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-one-novanta-media-text-column:not([contenteditable="true"]):focus::after {
    border-radius: var(--wp--custom--border-radius-medium);
}

.wp-block-one-novanta-media-form.media-text {

	@media screen and (max-width: variables.$md) {
		overflow: initial;

		.media-text__content {
			flex: auto;
			width: 100%;
		}
	}
}
