/**
 * Mixins.
 */

@mixin grid( $gutter: var(--grid-col-gutter) ) {
	display: grid;
	grid-template-rows: auto;
	grid-gap: $gutter;
}

@mixin grid-columns( $columns: 1, $row-gutter: var(--grid-row-gutter) ) {
	grid-template-columns: repeat($columns, 1fr);

	@if ( var(--grid-row-gutter) != $row-gutter ) {
		grid-row-gutter: $row-gutter;
	}
}

@mixin line-clamp( $lines: 2 ) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
