/**
 * The following styles get applied inside the editor only.
 *
 * Note:- In the case of image-text-cards, the layout is different in the editor.
 * Therefore, we are not importing styles directly.
 */

@use "../../scss/mixins";
@use "../../scss/variables";

.image-text-cards-editor__content {

	.grid {
		// InnerBlocks Component have different layout.
		.block-editor-block-list__layout {
			// We can not use _grid.scss directly,
			// Reason: grid-columns are different for screens.
			@include mixins.grid(var(--wp--preset--spacing--40));
			@include mixins.grid-columns(1);

			@media screen and (min-width: variables.$sm) {
				// Show 2 columns for Small-Mid mobile devices.
				@include mixins.grid-columns(2);
			}

			@media screen and (min-width: variables.$md) {
				// Show 3 columns for Mid-Large mobile devices.
				@include mixins.grid-columns(3);
			}

			@media screen and (min-width: variables.$lg) {
				// Show 4 columns for Mid-Large mobile devices.
				@include mixins.grid-columns(4);
			}

			/**
			 * Fixes the issue of LinkControl span taking up space in the grid.
			*/
			> span {
				position: absolute;
			}
		}
	}
}
