/**
 * Media Text Column editor styles
 */

@use "../../scss/variables";

.media-text__media {

	.components-placeholder {
		width: 100%;
		height: 100%;
		border-top-left-radius: var(--wp--custom--border-radius-medium);
		border-bottom-left-radius: var(--wp--custom--border-radius-medium);
		display: flex;
		justify-content: center;
	}

	img {
		display: block;
	}
}

// Target pseudo element to add border radius, to make it similar to the component.
.block-editor-block-list__layout
	.block-editor-block-list__block.wp-block-one-novanta-media-text-column:not(
		[contenteditable="true"]
	):focus::after {
	border-radius: var(--wp--custom--border-radius-medium);
}

.wp-block-one-novanta-image-cta.media-text {

	@media screen and (max-width: variables.$md) {
		overflow: initial;
	}
}
