/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

/**
 * Component: Search Filter.
 */
@use "../../layouts/components/button";

.one-novanta-search-filter {
	margin-block-start: var(--wp--preset--spacing--20);
}

.search-filter {
	$self: &;

	&__post-type-link {

		&:hover {

			#{$self}__post-type-link-remove {
				color: var(--wp--preset--color--foreground);
			}
		}
	}

	&__post-type-link-remove {
		font-size: var(--wp--preset--font-size--large);
		cursor: pointer;
		padding: 0;
		border: none;
		background-color: transparent;
		line-height: 1;
		transition: all .3s;
		color: var(--wp--preset--color--background);
	}
}
