/**
 * Collage Component/Block Styles
 */

@use "../mixins";
@use "../variables";

@mixin collage-styles {

	// Increase font-size for the first tile in the collage.
	> :first-child {

		.image-tile__pre_heading {

			font-size: var(--wp--preset--font-size--small) !important;
		}

		.image-tile__heading {

			font-size: var(--wp--preset--font-size--x-large) !important;
		}
	}

	// We can not use _grid.scss directly,
	// Reason: grid-columns are different for screens.
	@include mixins.grid(var(--wp--preset--spacing--40));
	@include mixins.grid-columns(1);

	@media screen and (min-width: variables.$md) {
		// Show 2 columns for Mid-Large mobile devices.
		@include mixins.grid-columns(2);

		> :first-child {
			// First child should take 2 columns.
			@include mixins.col-span(2);
		}
	}
}
