/**
 * woocommerce/store-notices Styles
 */

.wp-block-woocommerce-store-notices {

	.wc-block-components-notice-banner {
		align-items: center;

		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;

			.wp-element-button {
				white-space: nowrap;
			}
		}
	}
}
