/**
 * Block: Navigation Links List
 *
 * Renders editor styles.
 */

@import "../../layouts/components/info-box/index";

.navigation-links-popup-box {

	.components-text-control {

		&__input {
			height: 40px;
		}
	}

	.block-editor-url-input {
		margin: 16px 0;
	}

	.block-editor-link-control {

		&__search-item {
			padding: 16px 0;
		}
	}
}

.wp-block-one-novanta-navigation-links {

	.block-list-appender {
		position: relative;
	}

	&-item {

		&.info-box__list-item {
			padding-left: 5px;
		}

	}
}

