/**
 * Styles for documents and Downloads block.
 */

.wp-block-one-novanta-documents-and-downloads {
	padding: var(--wp--preset--spacing--40) 0;
}

.wp-one-novanta-table__wrapper a {
	color: var(--wp--preset--color--foreground);
}
