/**
 * Component: Your Quote Table.
 */

@use "../../../scss/variables";

.wp-one-novanta-your-quote-table {
	$self: &;
	position: relative;

	&.loading {
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgba(255, 255, 255, 0.9);
			backdrop-filter: blur(3px);
			top: 0;
			left: 0;
			z-index: 999990;
		}

		&::after {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3C!-- Icon from SVG Spinners by Utkarsh Verma - https://github.com/n3r4zzurr0/svg-spinners/blob/main/LICENSE --%3E%3Cpath fill='currentColor' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='.25'/%3E%3Cpath fill='currentColor' d='M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
			content: "";
			width: 32px;
			aspect-ratio: 1;
			border-radius: 50%;
			position: absolute;
			display: block;
			inset: 0;
			margin: auto;
			z-index: 999999;
		}
	}

	&__clear-quote {
		margin-bottom: var(--wp--preset--spacing--60);

		#{$self}[data-row-count="0"] & {
			display: none;
		}
	}

	&__content {
		overflow-y: auto;
		display: block;
		max-height: var(--one-novanta-your-quote-table-height);

		&::-webkit-scrollbar {
			display: block;
			width: var(--wp--preset--spacing--20);
		}

		&::-webkit-scrollbar-track {
			background: var(--wp--preset--color--secondary);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--wp--preset--color--primary);
			border-radius: var(--wp--custom--border-radius-extra-large);
			border: 4px solid transparent;
			background-clip: content-box;
			cursor: pointer;
		}

		/* Buttons */
		&::-webkit-scrollbar-button {
			background-color: #d9d9d9;
			display: block;
			height: var(--wp--preset--spacing--15);
			width: var(--wp--preset--spacing--20);
			cursor: pointer;
		}

		&::-webkit-scrollbar-button:vertical:start:decrement {
			background-repeat: no-repeat;
			background-position: center;
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 0L12.1292 7.5H0.870835L6.5 0Z' fill='black'/%3E%3C/svg%3E");
		}

		&::-webkit-scrollbar-button:horizontal:start:decrement {
			background-repeat: no-repeat;
			background-position: center;
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(6.123233995736766e-17 1 -1 6.123233995736766e-17 0 0)'%3E%3Cpath d='M6.5 8L0.870835 0.499999L12.1292 0.5L6.5 8Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
		}

		&::-webkit-scrollbar-button:vertical:start:increment,
		&::-webkit-scrollbar-button:vertical:end:decrement,
		&::-webkit-scrollbar-button:horizontal:start:increment,
		&::-webkit-scrollbar-button:horizontal:end:decrement {
			display: none;
		}

		&::-webkit-scrollbar-button:vertical:end:increment {
			background-repeat: no-repeat;
			background-position: center;
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 8L0.870835 0.499999L12.1292 0.5L6.5 8Z' fill='black'/%3E%3C/svg%3E");
		}

		&::-webkit-scrollbar-button:horizontal:end:increment {
			background-repeat: no-repeat;
			background-position: center;
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(-1.8369701987210297e-16 -1 1 -1.8369701987210297e-16 0 0)'%3E%3Cpath d='M6.5 8L0.870835 0.499999L12.1292 0.5L6.5 8Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
		}
	}

	&__wrapper {
		border-spacing: 0;
		table-layout: auto;
		position: relative;
		width: 100%;

		#{$self}[data-row-count="0"] & {
			display: none;
		}
	}

	&__head {
		color: var(--wp--preset--color--foreground);
	}

	&__head-cell {
		padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--20);
		font-weight: 700;
		background-color: var(--wp--preset--color--secondary);
		position: sticky;
		top: 0;
		z-index: 10;
	}

	&__body-row {
		display: table-row;

		&.hidden {
			display: none;
		}
	}

	&__body-cell {
		padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--20);
		border-bottom: 1px solid var(--wp--preset--color--foreground);

		a {
			color: var(--wp--preset--color--foreground);
		}
	}

	&__body-content {
		min-width: 190px;

		&--quantity__input {
			position: relative;
			width: var(--wp--preset--spacing--90);

			input[type="number"] {
				font-size: var(--wp--preset--font-size--medium);
				border-width: 1px;
				-moz-appearance: textfield;
				appearance: textfield;
				padding-block: var(--wp--preset--spacing--10);
				padding-inline-start: var(--wp--preset--spacing--10);
				padding-inline-end: var(--wp--preset--spacing--30);
				height: 50px;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}

		&--quantity__plus,
		&--quantity__minus {
			position: absolute;
			right: 5px;
			padding-inline: var(--wp--preset--spacing--10);
			transition: transform 0.2s ease;

			&:hover {
				transform: scale(1.2);
			}

			&.disabled {
				cursor: not-allowed;
				transition: none;
				pointer-events: initial;

				&:hover {
					transform: none;
				}
			}

			svg {
				width: 13px;
				height: 9px;
			}
		}

		&--quantity__plus {
			top: 0;
			padding-block-start: var(--wp--preset--spacing--10);
			padding-block-end: 5px;
		}

		&--quantity__minus {
			bottom: 0;
			padding-block-start: 5px;
			padding-block-end: var(--wp--preset--spacing--10);
		}
	}

	&__body-cta {
		min-width: 190px;
		width: 190px;
	}

	&__head-cell,
	&__body-cell {
		text-align: left;
		font-size: var(--wp--preset--font-size--medium);
	}

	&__body-image {
		padding: var(--wp--preset--spacing--15);
		width: 180px;

		img {
			width: 150px;
			height: 150px;
			max-width: none;
			aspect-ratio: 1 / 1;
			object-fit: contain;
		}
	}

	&__empty-wrapper {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: var(--wp--preset--spacing--30);
		padding-block: var(--wp--preset--spacing--60);
		border-top: 1px solid var(--wp--preset--color--foreground);
		border-bottom: 1px solid var(--wp--preset--color--foreground);

		#{$self}[data-row-count="0"] & {
			display: flex;
		}
	}

	&__empty-wrapper__icon {
		color: #707070;
	}

	&__empty-wrapper__message {
		font-size: var(--wp--preset--font-size--medium);
		margin-block-end: 0;
	}

	@media screen and ( max-width: variables.$xl ) {

		&__content {

			&::-webkit-scrollbar {
				display: initial;
				width: auto;
			}

			&::-webkit-scrollbar-track {
				background: initial;
			}

			&::-webkit-scrollbar-thumb {
				background-color: initial;
				border-radius: initial;
				border: initial;
				background-clip: initial;
				cursor: auto;
			}

			&::-webkit-scrollbar-track-piece:start {
				background: initial;
				margin-top: initial;
			}

			/* Buttons */
			&::-webkit-scrollbar-button {
				background-color: initial;
				display: initial;
				height: auto;
				width: auto;
			}

			&::-webkit-scrollbar-button:vertical:start:decrement,
			&::-webkit-scrollbar-button:vertical:end:increment,
			&::-webkit-scrollbar-button:vertical:start:increment,
			&::-webkit-scrollbar-button:vertical:end:decrement,
			&::-webkit-scrollbar-button:horizontal:start:decrement,
			&::-webkit-scrollbar-button:horizontal:end:increment {
				background-repeat: initial;
				background-position: initial;
				background-image: initial;
			}
		}

		&__wrapper {
			width: 100%;
		}

		&__head {
			position: absolute;
			left: -999em;
			top: -999em;
			display: none;
		}

		&__body-content {
			min-width: unset;
		}

		&__body,
		&__body-row {
			display: block;
		}

		&__body-row {
			float: left;
			width: 100%;
			position: relative;
			padding-block-start: var(--wp--preset--spacing--10);
			padding-block-end: var(--wp--preset--spacing--40);
		}

		&__body-cell {
			position: relative;
			display: block;
			width: 100%;
			clear: both;
			border-bottom: none;
			padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
			padding-inline-start: 220px;
			z-index: 10;

			@media screen and ( max-width: variables.$md ) {
				padding: 5px var(--wp--preset--spacing--10);
				padding-inline-start: 110px;
			}

			&::before {
				content: attr(data-head);
				font-size: var(--wp--preset--font-size--medium);
				display: block;
				font-weight: 700;
				color: var(--wp--preset--color--foreground);
				margin-block-end: 4px;
			}

			&:empty {
				display: none;
			}
		}

		&__body-image::before,
		&__body-cta::before {
			margin-block-end: 0;
		}

		&__body-image {
			position: absolute;
			padding-inline-start: var(--wp--preset--spacing--20);
			z-index: initial;

			@media screen and ( max-width: variables.$md ) {
				padding-inline-start: var(--wp--preset--spacing--10);

				img {
					width: 80px;
					height: 80px;
				}
			}
		}
	}
}
