/**
 * Gravity Forms custom styling.
 */

@use "../mixins";
@use "../placeholders";
@use "../variables";

div.gform-theme--foundation.gform_wrapper[id] {
	max-width: 100%;
	margin-block-start: var(--wp--preset--spacing--40);

	&:first-child {
		margin-block-start: 0;
	}

	--gf-form-gap-x: 20px;
	--gf-form-gap-y: 20px;
	--gf-field-gap-x: 20px;
	--gf-field-gap-y: 20px;
	--gf-label-width: 30%;
	--gf-label-req-gap: 6px;
	--gf-form-footer-margin-y-start: var(--wp--preset--spacing--20);
	--gf-form-footer-gap: 20px;
	--gf-field-date-width: 168px;
	--gf-field-time-width: 110px;
	--gf-field-list-btns-gap: 8px;
	--gf-field-list-btns-width: calc(
		32px + var(--gf-field-list-btns-gap) + var(--gf-field-gap-x)
	);
	--gf-field-pg-steps-gap-y: 8px;
	--gf-field-pg-steps-gap-x: 24px;

	--gf-ctrl-size: 64px !important;
	--gf-local-height: 64px;

	--gf-ctrl-font-size: var(--wp--preset--font-size--medium);
	--gf-ctrl-btn-font-size: var(--wp--preset--font-size--medium) !important;

	--gf-ctrl-btn-padding-y: var(--wp--preset--spacing--10);
	--gf-ctrl-btn-padding-x: var(--wp--preset--spacing--20) !important;

	--gf-color-primary: var(--wp--preset--color--primary);
	--gf-ctrl-btn-bg-color-primary: var(--wp--preset--color--primary);
	--gf-ctrl-border-color: var(--wp--preset--color--tertiary) !important;
	--gf-color-secondary: #fff;
	--gf-color-danger: #c02b0a;
	--gf-color-success: #399f4b;
	--gf-ctrl-choice-check-color: var(--wp--custom--color-silver-gray);

	--gf-ctrl-btn-radius: var(--wp--custom--border-radius-extra-large);
	--gf-local-radius: var(--wp--custom--border-radius-normal);
	--gf-ctrl-radius: var(--wp--custom--border-radius-normal);
	--gf-radius: var(--wp--custom--border-radius-normal);
	--gf-ctrl-shadow: none;
	--gf-ctrl-placeholder-color: var(--wp--preset--color--primary) !important;

	--gf-ctrl-border-color-focus: var(--wp--preset--color--foreground);
	--gf-ctrl-outline-width-focus: 0;

	--gf-icon-ctrl-checkbox: "";
	--gf-font-size-tertiary: 13px;

	--gf-ctrl-label-font-size-secondary: var(--wp--preset--font-size--normal);
	--gf-ctrl-label-font-size-primary: var(--wp--preset--font-size--normal);

	// Custom CSS.
	.gform_heading {
		margin-block-end: var(--wp--preset--spacing--40);
	}

	.gform_title {
		font-size: var(--wp--preset--font-size--xxx-large);
	}

	.ginput_address_country {
		order: -2;
		inline-size: 100%;
	}

	.gfield--type-section {
		border-bottom: 0;
		margin-block-start: var(--wp--preset--spacing--20);
	}

	fieldset.gfield--type-choice {
		display: flex;
		flex-direction: column;
	}

	// Concact Us Form.
	.gform_contact_us {

		.ginput_address_state {
			inline-size: 100%;
		}
	}

	.privacy-notice {
		color: var(--wp--preset--color--foreground);
		font-size: clamp(12px, 1.2vw, 14px);
		font-weight: 300; // 325 is not available.
		flex: 0 0 100%;
		line-height: 1;
		letter-spacing: 0;

		.required-text {
			font-weight: 300;
		}

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				color: var(--wp--preset--color--foreground);
			}
		}

		p {
			margin-block-start: var(--wp--preset--spacing--10);
			line-height: 1.2;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: 20px;
		height: 20px;
		margin-top: 2px;

		&:checked {
			
			&::before {
				height: 12px;
				width: 12px;
				inset: 3px;
			}
		}
	}

	// Button.
	.gform_button {
		border: 2px solid var(--wp--preset--color--primary) !important;
		border-radius: var(--wp--custom--border-radius-extra-large) !important;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: var(--wp--preset--spacing--15);
		line-height: var(--wp--custom--button-line-height);
		color: var(--wp--preset--color--background);
		background-color: var(--wp--preset--color--primary) !important;
		transition: all 0.3s;
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.6974L4.58 6.10742L0 1.51742L1.41 0.107422L7.41 6.10742L1.41 12.1074L0 10.6974Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: 8px;
		background-position: right 20px top 14px;
		font-size: var(--wp--preset--font-size--medium) !important;
		font-weight: 500;
		font-family: var(--wp--preset--font-family--heading);
		padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--40)
			var(--wp--preset--spacing--10) var(--wp--preset--spacing--20) !important;

		@media screen and (max-width: calc(variables.$sm - 1px)) {
			width: 100%;
		}

		&:hover,
		&:focus {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.6974L4.58 6.10742L0 1.51742L1.41 0.107422L7.41 6.10742L1.41 12.1074L0 10.6974Z' fill='black'/%3E%3C/svg%3E%0A");
			color: var(--wp--preset--color--foreground) !important;
			background-color: transparent !important;
		}
	}
}

.gform_contact_support {

	.ginput_container_address {

		.ginput_address_country {
			grid-column: 1 / -1;
			order: -1;

			input {
				width: 100%;
			}
		}
	}

	.zero_grid_gap > .ginput_container_address {
		grid-gap: 0;
	}
}

// Hide state fields by default
.ginput_container_address {

	.address_line_1,
	.address_city,
	.address_state,
	.address_zip {
		display: none;
	}

	.address_country {
		order: -1;

		input {
			width: 100%;
		}
	}

	// When street, city, state and zip should be visible, adjust layout
	&.address-fields-visible {
		
		.address_line_1,
		.address_city,
		.address_state,
		.address_zip {
			display: block;
		}
	}
}

.gf_clear,
.gf_clear_complex {
	display: none;
}
