/**
 * Component: Product Search.
 */

@use "../../../scss/variables";
@use "../../../scss/mixins";

.product-search {

	&__header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;
		gap: var(--wp--preset--spacing--30);
		margin-block-end: var(--wp--preset--spacing--40);
	}

	&__results-count {
		font-weight: 600;
	}

	&__is-loading {
		opacity: 0.5;
		padding: var(--wp--preset--spacing--20);

		// Center align when loading
		display: flex;
		align-items: center;
		justify-content: center;

		&.hidden {
			display: none;
		}
	}

	&__grid {
		border-top: 1px solid var(--wp--preset--color--foreground);
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-top: var(--wp--preset--spacing--10);

		@media screen and (min-width: variables.$md) {
			flex-flow: nowrap;
		}
	}

	&__content {
		flex: 0 0 100%;
		min-width: 0;
		padding-top: var(--wp--preset--spacing--40);

		@media screen and (min-width: variables.$md) {
			flex: 1;
			padding-left: var(--wp--preset--spacing--40);
		}
	}

	&__sidebar {
		flex: 0 0 100%;
		min-width: 0;
		margin-block-start: var(--wp--preset--spacing--40);
		padding-bottom: var(--wp--preset--spacing--20);
		padding-top: var(--wp--preset--spacing--20);
		position: sticky;
		top: var(--wp-admin-bar-height);
		background: var(--wp--preset--color--background);
		z-index: 2;

		@media screen and (min-width: variables.$md) {
			flex: 0 0 25.5952%;
			margin-block-start: 0;
			padding-right: var(--wp--preset--spacing--40);
			position: static;
			display: block;
			padding-bottom: 0;
			border-right: 1px solid var(--wp--preset--color--foreground);
		}
	}

	&__sidebar-inner {
		display: none;

		@media screen and (min-width: variables.$md) {
			display: block;
		}

		&.is-visible {

			@media screen and (max-width: calc(variables.$md - 1px)) {
				display: block;
				transition: all 0.3s ease;
				max-height: 300px;
				overflow: auto;
			}
		}

		&.fetching-filtered-data {
			pointer-events: none;
		}
	}

	&__filter-widget {
		border-bottom: 1px solid var(--wp--preset--color--foreground);
		padding-bottom: var(--wp--preset--spacing--30);
		margin-bottom: var(--wp--preset--spacing--30);
	}

	&__filter-widget-heading {
		font-weight: 600;
		margin-block: var(--wp--preset--spacing--typography);
	}

	&__filter-list {
		list-style: none;
		margin-bottom: var(--wp--preset--spacing--10);
		padding-left: 0;
	}

	&__filter-list-level-one,
	&__filter-list-level-two {
		list-style: none;
		margin-block: 6px;
	}

	&__filter-item {
		margin-block: 6px;

		&.is-hidden {
			display: none;
		}
	}

	&__filter-label {
		display: flex;
		align-items: center;
		cursor: pointer;
		gap: var(--wp--preset--spacing--10);
		min-height: 30px;

		span {
			display: block;
			word-break: break-word;
		}
	}

	&__button-load-more-wrapper {
		display: flex;
		justify-content: center;
		margin-block: var(--wp--preset--spacing--40);

		&.hidden {
			display: none;
		}
	}

	&__button-load-more {
		background: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--10);
		color: var(--wp--preset--color--foreground);

		&:focus-visible {
			outline: 1px auto;
		}

		svg {
			max-width: 46px;
			margin: 0 auto;
			height: auto;

			@media screen and (min-width: variables.$md) {
				max-width: 52px;
			}

			@media screen and (min-width: variables.$xl) {
				max-width: 64px;
			}
		}
	}

	&__toggle-filters {
		display: flex;
		justify-content: center;

		@media screen and (min-width: variables.$md) {
			display: none;
		}
	}

	&__toggle-button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: relative;
		padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) 0;
		margin: 0;
		font-size: inherit;
		color: var(--wp--preset--color--foreground);

		&::before,
		&::after {
			content: "";
			display: block;
			background-color: currentcolor;
			position: absolute;
			top: 50%;
			right: 0;
			width: 10px;
			height: 2px;
		}

		&::before {
			transform: translateY(-50%);
		}

		&::after {
			transform: translateY(-50%) rotate(90deg);
		}

		&[aria-expanded="true"] {

			&::before {
				transform: translateY(-50%) rotate(-90deg);
				opacity: 0;
			}

			&::after {
				transform: translateY(-50%) rotate(0);
			}
		}
	}

	&__attributes {
		list-style: none;
		padding-left: 0;
	}

	&__attribute {

		& + & {
			margin-block-start: var(--wp--preset--spacing--20);
		}
	}

	&__minimize-filters {
		margin-left: 5px;
	}

	&__minimize-button {
		display: inline-flex;
		align-items: center;
		font-size: 15px;
		color: var(--wp--preset--color--primary);
		position: relative;
		padding-left: var(--wp--preset--spacing--20);
		border: none;
		background: none;

		&::before {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0.294922L6 4.87492L10.59 0.294922L12 1.70492L6 7.70492L0 1.70492L1.41 0.294922Z' fill='%23D9272D'/%3E%3C/svg%3E%0A");
			background-position: 0;
			background-repeat: no-repeat;
			padding-left: var(--wp--preset--spacing--20);
			content: "";
			height: 12px;
			width: 12px;
			position: absolute;
			top: 3px;
			left: 0;
		}

		&[data-expanded="true"]::before {
			transform: rotate(180deg);
			transform-origin: 6px;
		}
	}

	.grid.alignwide.grid--cols-3 {
		display: grid;

		&.hidden {
			visibility: hidden;
		}
	}
}
