/**
 * Component: Filter Dropdown.
 */

@use "../../../scss/mixins";

.one-novanta-filter-dropdown {
	position: relative;

	&__selected-value{
		text-align: start;

		@include mixins.line-clamp(1);
	}

	.wp-one-novanta-button__icon {
		display: inline-block;
	}

	&__dropdown-list {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		border: 1px solid var(--wp--custom--select-drop-down-border-color);
		border-radius: 0.25rem;
		background-color: var(--wp--preset--color--background);
		list-style: none;
		padding: var(--wp--preset--spacing--10);
		margin: var(--wp--preset--spacing--10) 0 0;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
		max-height: 200px;
		overflow-y: auto;
		z-index: 100;
		min-width: max-content;

		&--right {
			right: 0;
			left: auto;
		}
	}

	&__dropdown-list::-webkit-scrollbar {
		width: 7px;
	}

	&__dropdown-list::-webkit-scrollbar-track {
		background: var(--wp--custom--select-drop-down-scroll-bar-track-color);
		border-radius: 25px;
	}

	&__dropdown-list::-webkit-scrollbar-thumb {
		background: var(--wp--custom--select-drop-down-scroll-bar-thumb-color);
		border-radius: 25px;
	}

	&__dropdown-list li {
		padding: var(--wp--preset--spacing--10);
		cursor: pointer;
	}

	/* Highlight the selected option */
	&__dropdown-list li.selected {
		background-color: var(--wp--custom--select-drop-down-selected-background);
		border-radius: 4px;
		font-weight: 700;
	}

	&__dropdown-list li:hover,
	&__dropdown-list li:focus {
		background-color: var(--wp--custom--select-drop-down-selected-background);
		border-radius: 4px;
	}

	&__dropdown-list.is-hidden {
		display: none;
	}
}
