<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:one-novanta/featured-banner {"hasDescription":false,"imageID":15691,"hasButtons":false,"isDynamic":true,"verticalAlign":"bottom"} /-->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"large-text","templateLock":"all","className":"large-text-block"} -->
	<div class="alignfull large-text-block" style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		">
		<!-- wp:one-novanta/section-content {"templateLock":"insert","lock":{"move":true,"remove":true}} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:term-description {"lock":{"move":true,"remove":true},"className":"large-text-block__text","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"xx-large","fontFamily":"heading"} /-->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"showTitle":false,"showDescription":false,"template":"separator"} -->
	<div class="alignfull" style="
			padding-top: var(--wp--preset--spacing--40);
			padding-bottom: var(--wp--preset--spacing--40);
		">
		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}}} -->
			<hr class="wp-block-separator has-alpha-channel-opacity" style="
					margin-top: 0;
					margin-bottom: 0;
					padding-top: 0;
					padding-bottom: 0;
				" />
			<!-- /wp:separator -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"latest-articles-tiles"} -->
	<div class="alignfull" style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		">
		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/latest-articles {"order":"desc","orderBy":"date","numberOfItems":6,"headingLevel":"h2"} /-->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"one-novanta/media-form-variation"} -->
	<div class="alignfull" style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		">
		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/media-form {"imageID":15701,"backgroundColor":"secondary"} -->
			<div class="wp-block-one-novanta-media-form">
				<!-- wp:gravityforms/form {"formId":"1","inputPrimaryColor":"#204ce5"} /-->
			</div>
			<!-- /wp:one-novanta/media-form -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
