<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:one-novanta/featured-banner {"preHeading":"Robotics \u0026amp; Automationn","heading":"Documents \u0026amp; Download","hasDescription":false,"hasButtons":false,"height":"default","verticalAlign":"bottom","isDynamic":true} /-->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"showTitle":false,"showDescription":false} -->
	<div
		class="alignfull"
		style="
			padding-top: var(--wp--preset--spacing--40);
			padding-bottom: var(--wp--preset--spacing--40);
		"
	>
		<!-- wp:one-novanta/section-content -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/documents-and-downloads /-->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
