<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:one-novanta/featured-banner {"preHeading":"Robotics \u0026amp; Automation","heading":"Automotive","hasDescription":false,"imageID":"","imageURL":"","hasButtons":false,"verticalAlign":"bottom"} -->
	<!-- /wp:one-novanta/featured-banner -->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"large-text","templateLock":"all","className":"large-text-block"} -->
	<div
		class="alignfull large-text-block"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-content {"templateLock":"insert","lock":{"move":true,"remove":true}} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:paragraph {"placeholder":"Write your text here…","lock":{"move":true,"remove":true},"className":"large-text-block__text","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"xx-large","fontFamily":"heading"} -->
			<p
				class="large-text-block__text has-heading-font-family has-xx-large-font-size"
				style="
					font-style: normal;
					font-weight: 600;
				"
			>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliolore eu
				fugiat nullqua.
			</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showDescription":false,"template":"tiles","backgroundColor":"secondary"} -->
	<div
		class="alignfull has-secondary-background-color has-background"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}},"typography":{"textAlign":"center"}}} -->
		<div
			class="wp-block-one-novanta-section-heading has-text-align-center alignwide"
			style="margin-bottom: var(--wp--preset--spacing--60)"
		>
			<!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"xx-large"} -->
			<h2 class="wp-block-heading one-novanta-section__title has-xx-large-font-size" id="h-automotive-products" style="font-style:normal;font-weight:500">Automotive Products</h2>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:one-novanta/section-heading -->

		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/tiles {"numberOfColumns":4} -->
			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->

			<!-- wp:one-novanta/tile {"imageID":"","imageURL":"","heading":"QC-20 Tool Changer","subheading":"Product code 0033","backgroundColor":"background"} /-->
			<!-- /wp:one-novanta/tiles -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/media-cover {"heading":"Suspendisse imperdiet nulla","description":"Litora mollis natoque molesus elit augue nequme naeos magortis sodales nec eratmuos loste. Ut enim ad minim veniam, quis nosrbimus himenaeos per ha trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.","imageID":"","imageURL":"","contentAlignment":"right"} -->
	<!-- wp:buttons -->
	<div class="wp-block-buttons">
		<!-- wp:button {"className":"is-style-outline-dark has-arrow"} -->
		<div class="wp-block-button is-style-outline-dark has-arrow">
			<a class="wp-block-button__link wp-element-button">Discover</a>
		</div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
	<!-- /wp:one-novanta/media-cover -->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"section-50-50-question","backgroundColor":"secondary"} -->
	<div
		class="alignfull has-secondary-background-color has-background"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-content {"templateLock":"insert"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/fifty-fifty-wrapper {"imageAlignment":"left","heading":"How we can help the automotive industry?","template":"question"} -->
			<div class="wp-block-one-novanta-fifty-fifty-wrapper alignfull">
				<!-- wp:paragraph {"placeholder":"Enter description…","fontSize":"normal"} -->
				<p class="has-normal-font-size">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor didunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nosrbimus himenaeos per ha
					trud exercitation ullamco laboris nisi ut aliquip ex ea
					commodo consequat.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph {"placeholder":"Enter description…","fontSize":"normal"} -->
				<p class="has-normal-font-size">
					Cubilia metus tellus cursus suscipit libero nam. Imperdiet
					platea purus eget iaculis sed elit. Litora mollis natoque
					molestie finibus elit augue neque. Himenaeos magna lobortis
					soda arius quam vivamles.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:buttons -->
				<div class="wp-block-buttons">
					<!-- wp:button {"className":"is-style-outline has-arrow"} -->
					<div class="wp-block-button is-style-outline has-arrow">
						<a class="wp-block-button__link wp-element-button"
							>Learn More</a
						>
					</div>
					<!-- /wp:button -->
				</div>
				<!-- /wp:buttons -->
			</div>
			<!-- /wp:one-novanta/fifty-fifty-wrapper -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showTitle":false,"showDescription":false,"template":"accordion","backgroundColor":"secondary"} -->
	<div
		class="alignfull has-secondary-background-color has-background"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/accordion -->
			<!-- wp:one-novanta/accordion-item {"title":"Accordion component"} -->
			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- /wp:paragraph -->
			<!-- /wp:one-novanta/accordion-item -->

			<!-- wp:one-novanta/accordion-item {"title":"Natoque himenaeos"} -->
			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Lets users show and hide sections of related content on a page.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph -->
			<p>
				Consectetur adipiscing elit, sed do eiusmod tempor didunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nosrbimus himenaeos per ha trud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Natoque himenaeos
				elementum vestibulum dui malesuada interdum turpis euismod.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Cubilia metus tellus cursus suscipit libero nam. Imperdiet
				platea purus eget iaculis sed elit. Litora mollis natoque
				molestie finibus elit augue neque. Himenaeos magna lobortis soda
				arius quam vivamles. Glatea purus eget iaculis sed elit. Litora
				mollis natoque molestie finibus elit augue neque. Himenaeos
				magna lobortis soda arius quam vivlatea purus eget iaculis sed
				elit. Litora mollis natoque molestie finibus elit augue neque.
				Himenaeos magna lobortis soda arius quam viv.
			</p>
			<!-- /wp:paragraph -->
			<!-- /wp:one-novanta/accordion-item -->

			<!-- wp:one-novanta/accordion-item {"title":"Congue cursus ridiculus"} -->
			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- /wp:paragraph -->
			<!-- /wp:one-novanta/accordion-item -->

			<!-- wp:one-novanta/accordion-item {"title":"Congue cursus ridiculus"} -->
			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- /wp:paragraph -->
			<!-- /wp:one-novanta/accordion-item -->

			<!-- wp:one-novanta/accordion-item {"title":"Maximus tempor fermentum"} -->
			<!-- wp:paragraph {"placeholder":"Add content…"} -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<!-- /wp:paragraph -->
			<!-- /wp:one-novanta/accordion-item -->
			<!-- /wp:one-novanta/accordion -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showDescription":false,"template":"narrow-text"} -->
	<div
		class="alignfull"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} -->
		<div
			class="wp-block-one-novanta-section-heading alignwide"
			style="margin-bottom: var(--wp--preset--spacing--80)"
		>
			<!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"xx-large"} -->
			<h2
				class="wp-block-heading one-novanta-section__title has-xx-large-font-size"
				id="h-large-section-title-to-be-placed-here"
				style="font-style:normal;font-weight:500"
			>
				Large section title<br />to be placed here.
			</h2>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:one-novanta/section-heading -->

		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/media-text-narrow {"overline":"Industry 01","heading":"Automotive","imageID":"","imageURL":""} -->
			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Consectetur adipiscing elit, sed do eiusmod tempor didunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nosrbimus himenaeos peha trud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequaue himenaeos elementum
				vestibulum dui malesuada interrpis euismod.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Cubilia metus tellus cursus suscipit libero nam. Imperdiet
				platea purus eget iaculis sed elit. Litora mollis natoque
				molestie finibus elit augueaeos magna lobortis soda arius quam
				vivamles.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons -->
			<div class="wp-block-buttons">
				<!-- wp:button {"placeholder":"Add Button Text","className":"is-style-outline has-arrow"} -->
				<div class="wp-block-button is-style-outline has-arrow">
					<a class="wp-block-button__link wp-element-button"
						>Learn More</a
					>
				</div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
			<!-- /wp:one-novanta/media-text-narrow -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showDescription":false,"template":"narrow-text"} -->
	<div
		class="alignfull"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
		<div
			class="wp-block-one-novanta-section-heading alignwide"
			style="margin-bottom: var(--wp--preset--spacing--60)"
		>
			<!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","fontSize":"xx-large"} -->
			<h2
				class="wp-block-heading one-novanta-section__title has-xx-large-font-size"
				id="h-side-by-side-content-section-for-more-detail"
			>
				Side by side content section for more detail
			</h2>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:one-novanta/section-heading -->

		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/media-text-narrow {"overline":"Industry 02","heading":"Automotive","imageID":"","imageURL":"","mediaPosition":"right"} -->
			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Consectetur adipiscing elit, sed do eiusmod tempor didunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nosrbimus himenaeos peha trud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequaue himenaeos elementum
				vestibulum dui malesuada interrpis euismod.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Cubilia metus tellus cursus suscipit libero nam. Imperdiet
				platea purus eget iaculis sed elit. Litora mollis natoque
				molestie finibus elit augueaeos magna lobortis soda arius quam
				vivamles.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons -->
			<div class="wp-block-buttons">
				<!-- wp:button {"placeholder":"Add Button Text","className":"is-style-outline has-arrow"} -->
				<div class="wp-block-button is-style-outline has-arrow">
					<a class="wp-block-button__link wp-element-button"
						>Learn More</a
					>
				</div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
			<!-- /wp:one-novanta/media-text-narrow -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showDescription":false,"template":"narrow-text"} -->
	<div
		class="alignfull"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} -->
		<div
			class="wp-block-one-novanta-section-heading alignwide"
			style="margin-bottom: var(--wp--preset--spacing--80)"
		>
			<!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","fontSize":"xx-large","style":{"typography":{"fontStyle":"normal","fontWeight":500}}} -->
			<h2 class="wp-block-heading one-novanta-section__title has-xx-large-font-size" id="h-large-section-title-to-be-placed-here-0" style="font-style:normal;font-weight:500">Large section title<br/>to be placed here.</h2>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:one-novanta/section-heading -->

		<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/media-text-narrow {"overline":"Industry 01","heading":"Automotive","imageID":"","imageURL":""} -->
			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Consectetur adipiscing elit, sed do eiusmod tempor didunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nosrbimus himenaeos peha trud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequaue himenaeos elementum
				vestibulum dui malesuada interrpis euismod.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph {"placeholder":"Add media text content","fontSize":"medium"} -->
			<p class="has-medium-font-size">
				Cubilia metus tellus cursus suscipit libero nam. Imperdiet
				platea purus eget iaculis sed elit. Litora mollis natoque
				molestie finibus elit augueaeos magna lobortis soda arius quam
				vivamles.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons -->
			<div class="wp-block-buttons">
				<!-- wp:button {"placeholder":"Add Button Text","className":"is-style-outline has-arrow"} -->
				<div class="wp-block-button is-style-outline has-arrow">
					<a class="wp-block-button__link wp-element-button"
						>Learn More</a
					>
				</div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
			<!-- /wp:one-novanta/media-text-narrow -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"showDescription":false,"template":"image-text-cards","templateLock":"insert","backgroundColor":"secondary"} -->
	<div
		class="alignfull has-secondary-background-color has-background"
		style="
			padding-top: var(--wp--preset--spacing--80);
			padding-bottom: var(--wp--preset--spacing--80);
		"
	>
		<!-- wp:one-novanta/section-heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}},"typography":{"textAlign":"center"}}} -->
		<div
			class="wp-block-one-novanta-section-heading has-text-align-center alignwide"
			style="margin-bottom: var(--wp--preset--spacing--60)"
		>
			<!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","fontSize":"xxx-large","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
			<h2 class="wp-block-heading one-novanta-section__title has-xxx-large-font-size" id="h-view-our-other-industry-sectors" style="font-style:normal;font-weight:500">View our other<br/>industry sectors</h2>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:one-novanta/section-heading -->

		<!-- wp:one-novanta/section-content {"lock":{"move":true,"remove":true}} -->
		<div class="wp-block-one-novanta-section-content alignwide">
			<!-- wp:one-novanta/image-text-cards -->
			<!-- wp:one-novanta/image-tile {"heading":"","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->

			<!-- wp:one-novanta/image-tile {"heading":"","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->

			<!-- wp:one-novanta/image-tile {"heading":"","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->

			<!-- wp:one-novanta/image-tile {"heading":" Industry","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->

			<!-- wp:one-novanta/image-tile {"heading":"","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->

			<!-- wp:one-novanta/image-tile {"heading":"","imageID":"","imageURL":"","preHeading":"","imageRatio":"3:2","imageSize":"text-card"} /-->
			<!-- /wp:one-novanta/image-text-cards -->
		</div>
		<!-- /wp:one-novanta/section-content -->
	</div>
	<!-- /wp:one-novanta/section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
