<!-- wp:template-part {"slug":"header","theme":"ati-ia-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:one-novanta/featured-banner {"isDynamic":true,"hasDescription":false,"hasButtons":false,"verticalAlign":"bottom","taxonomy":"product_cat"} /-->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"}}},"showTitle":false,"showDescription":false,"template":"single-product-detail"} -->
	<div class="alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:one-novanta/section-content {"templateLock":"all"} -->
	<div class="wp-block-one-novanta-section-content alignwide"><!-- wp:one-novanta/single-product-detail /--></div>
	<!-- /wp:one-novanta/section-content --></div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|40"}}},"showTitle":false,"showDescription":false} -->
	<div class="alignfull" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:one-novanta/section-content {"templateLock":"all"} -->
	<div class="wp-block-one-novanta-section-content alignwide"><!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
	<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:0;margin-bottom:0"/>
	<!-- /wp:separator --></div>
	<!-- /wp:one-novanta/section-content --></div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|80"}}},"showDescription":false,"template":"related-products"} -->
	<div class="alignfull" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:one-novanta/section-heading -->
	<div class="wp-block-one-novanta-section-heading alignwide" style="margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","fontSize":"xx-large"} -->
	<h2 class="wp-block-heading one-novanta-section__title has-xx-large-font-size" id="related-products">Related products</h2>
	<!-- /wp:heading --></div>
	<!-- /wp:one-novanta/section-heading -->

	<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
	<div class="wp-block-one-novanta-section-content alignwide"><!-- wp:one-novanta/related-products /--></div>
	<!-- /wp:one-novanta/section-content --></div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignfull" id="one-novanta-single-product-all-features">
			<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
		</div>
	<!-- /wp:group -->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|20"}}},"showButtons":true,"template":"related-modules"} -->
	<div class="alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--20)"><!-- wp:one-novanta/section-heading -->
	<div class="wp-block-one-novanta-section-heading alignwide" style="margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:heading {"placeholder":"Section title…","className":"one-novanta-section__title","fontSize":"xx-large"} -->
	<h2 class="wp-block-heading one-novanta-section__title has-xx-large-font-size" id="compatible-modules">Compatible Modules</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"placeholder":"Add description…","className":"one-novanta-section__description"} -->
	<p class="one-novanta-section__description"></p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons {"className":"one-novanta-section__buttons","layout":{"type":"flex","orientation":"horizontal"}} -->
	<div class="wp-block-buttons one-novanta-section__buttons"><!-- wp:button {"placeholder":"Button 1","className":"is-style-outline has-arrow"} -->
	<div class="wp-block-button is-style-outline has-arrow"><a class="wp-block-button__link wp-element-button"></a></div>
	<!-- /wp:button -->

	<!-- wp:button {"placeholder":"Button 2","className":"is-style-fill has-arrow"} -->
	<div class="wp-block-button is-style-fill has-arrow"><a class="wp-block-button__link wp-element-button"></a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:one-novanta/section-heading -->

	<!-- wp:one-novanta/section-content {"templateLock":"all"} -->
	<div class="wp-block-one-novanta-section-content alignwide"><!-- wp:one-novanta/related-modules /--></div>
	<!-- /wp:one-novanta/section-content --></div>
	<!-- /wp:one-novanta/section -->

	<!-- wp:one-novanta/section {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"showTitle":false,"showDescription":false,"template":"media-text-cover"} -->
	<div class="alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);"><!-- wp:one-novanta/section-content {"templateLock":"all"} -->
		<div class="wp-block-one-novanta-section-content alignwide"><!-- wp:one-novanta/media-text-cover {"heading":"Talk to an Expert","description":"Ready to overcome your challenges and unlock the full potential of your robotic applications? Contact our expert team today..","contentAlignment":"right"} -->
			<!-- wp:buttons -->
			<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-fill-dark has-arrow"} -->
				<div class="wp-block-button is-style-fill-dark has-arrow"><a class="wp-block-button__link wp-element-button">Contact us</a></div>
				<!-- /wp:button --></div>
			<!-- /wp:buttons -->
			<!-- /wp:one-novanta/media-text-cover --></div>
		<!-- /wp:one-novanta/section-content --></div>
	<!-- /wp:one-novanta/section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ati-ia-theme","tagName":"footer"} /-->
