/**
 * Component: Sidebar Content.
 */

@use "../../../scss/variables";

.sidebar-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-block-start: var(--wp--preset--spacing--50);

	&.is-layout-flex {
		align-items: flex-start;

		@media screen and (max-width: variables.$lg) {
			flex-flow: wrap;
		}
	}

	&:first-child {
		margin-block-start: 0;
	}

	&__content {
		flex: 0 0 100%;
		min-width: 0;
		flex-direction: column;
		margin-block-start: 5px;
		overflow: hidden;

		@media screen and (min-width: variables.$lg) {
			flex: 0 0 47.62%;
			flex-direction: column;
		}
	}

	&__sidebar {
		flex: 0 0 100%;
		min-width: 0;
		margin-block-start: var(--wp--preset--spacing--40);
		justify-content: center;

		@media screen and (min-width: variables.$lg) {
			flex: 0 0 33.334%;
			margin-block-start: 0;
		}
	}
}
