/**
 * Block: Media Text Cover
 *
 * Renders editor styles.
 */

@use "../../scss/variables";
@use "../../scss/functions";

.one-novanta-media-text-cover {
	$self: &;

	border-radius: var(--wp--custom--border-radius-medium);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-height: functions.clamp-size(variables.$sm, variables.$xxxl, 420px, 710px);
	padding-block: var(--wp--preset--spacing--50);
	overflow: hidden;
	margin-block-start: var(--grid-section-gutter);

	&__setting--image-wrapper {
		margin-block-end: var(--wp--preset--spacing--10);

		img {
			margin-block-start: var(--wp--preset--spacing--10);
		}
	}

	&:first-child {
		margin-block-start: 0;
	}

	&--content-align-right {

		@media screen and (min-width: variables.$lg) {
			justify-content: flex-end;
		}
	}

	&__image-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-block-end: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		// Add overlay.
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		}

		#{$self}--content-align-right &::after {

			@media screen and (min-width: variables.$lg) {
				background: linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}

	&__content {
		color: var(--wp--preset--color--background);
		margin-inline: 7.14%;
		max-width: 660px;
		width: 100%;
		position: relative;

		&--vertical-align-top {
			align-self: flex-start;
		}

		&--vertical-align-bottom {
			align-self: flex-end;
		}
	}

	&__heading {
		margin-block-end: var(--wp--preset--spacing--40);
	}

	.buttons {
		margin-block-start: var(--wp--preset--spacing--40);
	}
}
