/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../layouts/components/featured-media-slider/index";

.featured-media-slider {

	&__content {
		margin-block: 0;
	}

	&-arrow-button {
		border: none;
		pointer-events: none;
	}

	&__navigation {
		width: 80%;
	}
}
