@use "../../../scss/variables";

.wp-one-novanta-documents-filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: var(--wp--preset--spacing--20);
	gap: var(--wp--preset--spacing--20);
	border-radius: var(--wp--preset--spacing--20);
	background-color: var(--wp--preset--color--secondary);
	margin-bottom: var(--wp--preset--spacing--100);

	@media (min-width: variables.$md) {
		flex-direction: row;
		padding: var(--wp--preset--spacing--50);
		gap: var(--wp--preset--spacing--50);
	}

	&__filter {
		width: 100%;
		background-color: var(--wp--preset--color--white);
		border-radius: var(--wp--preset--spacing--10);
		border: 1px solid var(--wp--preset--color--tertiary);

		.one-novanta-filter-dropdown__button {
			width: 100%;
			border: 0;
			border-radius: var(--wp--preset--spacing--10) !important;
			padding: var(--wp--preset--spacing--20);
			// For the icon, because we've set the button to be full width, we need to add the icon to the right.
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (min-width: variables.$lg) {
			max-width: 50%;
		}
	}

	&__search-input-wrapper {
		height: 100% !important;
		width: 100%;
		font-size: var(--wp--preset--font-size--normal) !important;
		align-self: stretch;

		display: flex;
		justify-content: end;
		align-items: center;
		position: relative;

		@media (min-width: variables.$lg) {
			max-width: 25%;
		}

		svg {
			position: absolute;
			margin-right: var(--wp--preset--spacing--10);
			transform: scale(0.62);
		}
	}

	&__search-input {
		height: 100% !important;
		width: 100%;
		align-self: stretch;
		padding: var(--wp--preset--spacing--20) !important;

		// Add extra right padding for the SVG
		padding-right: var(--wp--preset--spacing--30) !important;
	}

	&__search-button-primary {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: var(--wp--preset--spacing--20) !important;
		border-radius: var(--wp--custom--border-radius-normal);
		
		@media (min-width: variables.$lg) {
			max-width: 20%;
			margin-left: var(--wp--preset--spacing--40);
		}
	}
}
