$aquila-relationship__modal-gutter: 16px;

.aquila-relationship {

	.components-base-control__label {
		display: block;
		margin-bottom: 4px;
	}

	&__modal {

		&__actions {
			text-align: right;
			padding: $aquila-relationship__modal-gutter;
		}

		.components-modal {

			&__header {
				margin: 0;
				position: relative;
				padding: 16px 16px 0 16px !important;
				height: auto;

				&-heading {
					font-size: 1.3em;
				}
			}

			&__content {
				padding: 0;
				margin-top: 0;
				position: relative;
			}
		}

		@media screen and (min-width: 600px) {
			width: 50%;
		}
	}

	&__search-container {
		padding: $aquila-relationship__modal-gutter;
	}

	&__search {
		width: 100%;
		padding: 11px 16px !important;
		border: 1px solid #ddd;
		border-radius: 4px;
		font-size: 14px;

		&:focus {
			border-color: #007cba;
			outline: none;
			box-shadow: 0 0 0 1px #007cba;
		}
	}

	&__panel {
		display: flex;
		font-size: 0.9em;
		border-top: 1px solid #e2e4e7;
		border-bottom: 1px solid #e2e4e7;

		&__search-items,
		&__selected-items {
			width: 50%;
			height: 250px;
			display: flex;
			overflow-y: auto;
		}

		&__search-items {
			border-right: 1px solid #e2e4e7;
			background-color: #f9f9f9;
		}

		&__selected-items {
			a {
				cursor: grab;
			}
		}
	}

	&__items {
		position: relative;
		width: 100%;
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow-y: auto;

		.components-spinner {
			position: absolute;
			margin: -9px 0 0 -9px;
			top: 50%;
			left: 50%;
			z-index: 5;
		}

		&--loading,
		&--disabled {
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #fff;
				opacity: 0.5;
				z-index: 3;
			}
		}
	}

	&__item {
		margin: 0;
		padding: 10px 43px 10px 10px;
		text-align: left;
		position: relative;

		&:hover {
			background-color: #0073aa;
			color: #fff;
		}

		> button {
			width: 100%;
			height: 100%;
			margin: -10px;
		}

		&--selected {
			opacity: 0.35;
			cursor: default !important;
		}
	}

	&__items--search &__item {
		cursor: pointer;
	}

	&__item-label {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__item-action {
		opacity: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -13px;

		button {
			padding: 0 !important;
			height: auto;
			background-color: transparent !important;
			box-shadow: none !important;
			min-width: auto !important;
		}

		.dashicon,
		svg {
			margin: 3px !important;
			color: #fff;
			fill: #fff;
		}
	}

	&__item:hover &__item-action {
		opacity: 1;
	}

	&__item--selected:hover &__item-action {
		opacity: 0 !important;
	}

	&__selected-items {
		list-style-type: none !important;
		font-size: 0.9em;
		position: relative;
		padding: 10px !important;
		background-color: #f3f3f4;
		border-radius: 3px;
		color: #000;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
		margin: 10px 0 0 0 !important;

		li {
			margin: 0;
		}

		.components-spinner {
			float: none;
			margin: 0;
		}
	}
}
