/**
 * Main frontend styles for Aquila theme
 */

/* Reset and base styles */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	line-height: 1.6;
	color: #333;
}

/* Container */
.site {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Links */
a {
	color: #0073aa;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	line-height: 1.2;
}

p {
	margin-top: 0;
}

/* WordPress alignment classes */
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* WordPress block editor support */
.wp-block {
	max-width: 100%;
}

/* Clear floats */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}




