/**
 * Component: Tile.
 */

.tile {
	$self: &;

	border-radius: var(--wp--custom--border-radius-normal);
	text-decoration: none;
	color: var(--wp--preset--color--foreground);
	position: relative;
	display: flex;
	flex-direction: column;

  .grid:has(> &) {
		gap: var(--wp--preset--spacing--30);
	}

	&__figure {
		margin: 0;

		img {
			border-radius: var(--wp--custom--border-radius-normal) var(--wp--custom--border-radius-normal) 0 0;
			aspect-ratio: 1.3;
			object-fit: cover;
			width: 100%;
		}
	}

	&__content-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--wp--preset--spacing--20);
		gap: var(--wp--preset--spacing--30);
		min-height: 90px;
		margin-top: auto;

		svg {
			min-width: 16px;
		}
	}

	&__subheading {
		font-weight: 500;
		margin: 0 0 4px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
	}

	&__heading {
		letter-spacing: 0;
		font-size: var(--wp--preset--font-size--large);

		#{$self}--has-description & {
			font-size: var(--wp--preset--font-size--medium);
			margin-bottom: 4px;
		}
	}

	&__link {
		color: inherit
	}
}
