/**
 * Component: Button.
 */

@use "../../../scss/placeholders";

// Primary Variation.
.wp-one-novanta-button {

	@extend %button;

	// Secondary Variation.
	&--secondary {

		@extend %button--secondary;
	}

	// Primary - Dark Variation.
	&--primary-dark {

		@extend %button--primary-dark;
	}

	// Secondary - Dark Variation.
	&--secondary-dark {

		@extend %button--secondary-dark;
	}

	// SVG Icon.
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: inherit;
			height: inherit;
		}
	}

	// Disabled.
	&[disabled],
	&:disabled {
		pointer-events: none;
		color: var( --wp--custom--color-graphite-gray );
		background-color: var( --wp--custom--color-cloud-gray );
		border-color: var( --wp--custom--color-cloud-gray );

		&:hover {
			color: var( --wp--custom--color-graphite-gray );
			background-color: var( --wp--custom--color-cloud-gray );
			border-color: var( --wp--custom--color-cloud-gray );
		}
	}
}
