/**
 * The following styles get applied inside the editor only.
 */

@use "../../layouts/components/load-more/index";
@use "../../layouts/components/filter-dropdown/index" as filterDropdown;

.product-search-block {
	pointer-events: none;

	// Reduce the size of the product search block, to show core-highlighted styles.
	transform: scale(0.99);
}
