/**
 * Block: Accordion Item
 *
 * Renders editor styles.
 */

@use "../../../scss/variables";

.aquila-accordion {
	$self: &;

	&__item {
		padding-block: 26px;
		border-bottom: 1px solid var(--wp--preset--color--black);

		&:first-child {
			border-top: 1px solid var(--wp--preset--color--black);
		}
	}

	&__handle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		&::after {
			content: "";
			display: inline-block;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMSAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjkuNDgwNSAxLjUyMDExVjMxSDAuMDAwNTcwMjk3IiBzdHJva2U9ImN1cnJlbnRDb2xvciIvPjxsaW5lIHgxPSIwLjM1MzU1MyIgeTE9IjEuMTY2NTYiIHgyPSIyOS44MzM1IiB5Mj0iMzAuNjQ2NSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=);
			transition: transform 0.3s ease;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: var(--wp--preset--spacing--20);
			height: var(--wp--preset--spacing--20);

			@media screen and (min-width: variables.$sm) {
				width: var(--wp--preset--spacing--30);
				height: var(--wp--preset--spacing--30);
			}
		}
	}

	&__item[open] &__handle::after {
		transform: rotate(-90deg);
	}

	&__handle-btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: var(--wp--preset--font-size--large);
		text-align: left;
		padding-right: 35px;

		@media screen and (min-width: variables.$sm) {
			font-size: var(--wp--preset--font-size--xx-large);
		}
	}
}
