/**
 * Component: Buttons.
 */

.buttons {
	display: flex;
	flex-flow: row wrap;
	margin-block-start: var(--wp--preset--spacing--typography);
	gap: var(--wp--preset--spacing--20);

	&:first-child {
		margin-block-start: 0;
	}

	&--horizontal-align-right {
		justify-content: right;
	}

	&--horizontal-align-center {
		justify-content: center;
	}

	&--horizontal-align-space-between {
		justify-content: space-between;
	}

	&--vertical-align-top {
		align-items: flex-start;
	}

	&--vertical-align-middle {
		align-items: center;
	}

	&--vertical-align-bottom {
		align-items: flex-end;
	}
}
