/**
 * Grid.
 */

@use "variables";
@use "mixins";

.grid {

	@include mixins.grid();
	@include mixins.grid-columns(1);

	> * {
		min-width: 0;
	}

	@media screen and (min-width: variables.$sm) {

		&--cols-2,
		&--cols-3,
		&--cols-4,
		&--cols-5 {

			@include mixins.grid-columns(2);
		}
	}

	@media screen and (min-width: variables.$lg) {

		&--cols-3 {

			@include mixins.grid-columns(3);
		}

		&--cols-4 {

			@include mixins.grid-columns(3);
		}

		&--cols-5 {

			@include mixins.grid-columns(4);
		}
	}

	@media screen and (min-width: variables.$xl) {

		&--cols-4 {

			@include mixins.grid-columns(4);
		}

		&--cols-5 {

			@include mixins.grid-columns(5);
		}
	}

	&--gap-none {
		gap: 0;
	}

	&--gap-small {
		gap: var(--wp--preset--spacing--10);
	}

	&--gap-medium {
		gap: var(--wp--preset--spacing--20);
	}
}
