/**
 * Mixins.
 */

@mixin grid( $gutter: var(--grid-col-gutter) ) {
	display: grid;
	grid-template-rows: auto;
	grid-gap: $gutter;
}

@mixin grid-columns( $columns: 1, $row-gutter: var(--grid-row-gutter) ) {
	grid-template-columns: repeat($columns, 1fr);

	@if ( var(--grid-row-gutter) != $row-gutter ) {
		grid-row-gap: $row-gutter;
	}
}

@mixin flex-grid( $gutter: var(--grid-col-gutter) ) {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 100%;
	margin-right: calc(#{ $gutter } / 2 * -1);
	margin-left: calc(#{ $gutter } / 2 * -1);

	> * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(#{ $gutter } / 2);
		padding-left: calc(#{ $gutter } / 2);
	}
}

@mixin flex-grid-columns( $columns: 1, $row-gutter: var(--grid-row-gutter) ) {

	> * {
		$width: 100% * ( ( 12 / $columns ) / 12 );
		flex: 0 0 auto;
		width: $width;
		margin-top: $row-gutter;

		&:nth-child(-n + #{ $columns }) {
			margin-top: 0;
		}

		&:first-child {
			margin-left: auto;
		}

		&:last-child {
			margin-right: auto;
		}
	}
}

@mixin col-span($col: 12) {
	grid-column: span $col / span $col;
}

@mixin transition( $property: all, $duration: var(--transition-time), $ease: var(--transition-easing) ) {
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $ease;
}

@mixin fade-in( $duration: var(--transition-time), $ease: var(--transition-easing) ) {
	transition: fadein $duration $ease;
	animation: fadein $ease $duration;

	@keyframes fadein {

		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

@mixin fade-out( $duration: var(--transition-time), $ease: var(--transition-easing) ) {
	transition: fadeout $duration $ease;
	animation: fadeout $ease $duration;

	@keyframes fadeout {

		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

@mixin slide-up( $duration: var(--transition-time), $ease: var(--transition-easing), $offset: 150% ) {
	transition: slideup $duration $ease;
	animation: slideup $ease $duration;

	@keyframes slideup {

		0% {
			transform: translateY($offset);
		}
	}
}

@mixin slide-down( $duration: var(--transition-time), $ease: var(--transition-easing), $top: 150% ) {
	transition: slidedown $duration $ease;
	animation: slidedown $ease $duration;

	@keyframes slidedown {

		100% {
			transform: translateY($top);
		}
	}
}

@mixin slide-in( $duration: var(--transition-time), $ease: var(--transition-easing), $offset: 150% ) {
	transition: slidein $duration $ease;
	animation: slidein $ease $duration;

	@keyframes slidein {

		0% {
			transform: translateX($offset);
		}
	}
}

@mixin slide-out( $duration: var(--transition-time), $ease: var(--transition-easing), $offset: 150% ) {
	transition: slideout $duration $ease;
	animation: slideout $ease $duration;

	@keyframes slideout {

		100% {
			transform: translateX($offset);
		}
	}
}

@mixin spin( $duration: 1s, $ease: linear ) {
	animation: spin $duration $ease infinite;

	@keyframes spin {

		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

@mixin css-triangle( $width: 11px, $height: 7px, $color: #000, $direction: "down" ) {
	width: 0;
	height: 0;
	border-style: solid;

	@if ( $direction == "down" ) {
		$half-width: calc($width / 2);
		border-width: $height $half-width 0 $half-width;
		border-color: $color transparent transparent transparent;
	} @else if ( $direction == "up" ) {
		$half-width: calc($width / 2);
		border-width: 0 $half-width $height $half-width;
		border-color: transparent transparent $color transparent;
	} @else if ( $direction == "left" ) {
		$half-height: calc($height / 2);
		border-width: $half-height $width $half-height 0;
		border-color: transparent $color transparent transparent;
	} @else if ( $direction == "right" ) {
		$half-height: calc($height / 2);
		border-width: $half-height 0 $half-height $width;
		border-color: transparent transparent transparent $color;
	}
}

@mixin placeholder-color( $color: #000, $opacity: 1 ) {

	&::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity !important;
	}

	&::-moz-placeholder {
		color: $color;
		opacity: $opacity !important;
	}

	&:-moz-placeholder {
		color: $color;
		opacity: $opacity !important;
	}

	&:-ms-input-placeholder {
		color: $color;
		opacity: $opacity !important;
	}
}

@mixin hover-color( $color: #000 ) {

	@include transition();

	&:hover {
		color: $color;
	}
}

@mixin calculate-aspect-ratio( $width, $height ) {
	padding-bottom: ( calc($height / $width) * 100 ) * 1%;
}

@mixin line-clamp( $lines: 2 ) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin button-variations($text-color: var(--wp--preset--color--foreground), $bg-color: var(--wp--preset--color--background), $border-color: $text-color) {

	.is-style-outline .wp-block-button__link {
		border: 2px solid $border-color !important;
		color: $text-color !important;
		background-color: transparent !important;

		&::after {
			background-color: $text-color;
		}

		&:hover {
			color: $bg-color !important;
			background-color: $text-color !important;
			border-color: $text-color !important;

			&::after {
				background-color: $bg-color;
			}
		}
	}

	.is-style-fill .wp-block-button__link:hover {
		color: $text-color !important;
		background-color: transparent !important;

		&::after {
			background-color: $text-color;
		}
	}
}
