/**
 * Normalize / CSS Resets.
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html.dom-content-loaded,
html.dom-content-loaded body {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding-top);
}

// Disable scroll when modal opens.
body.prevent-scroll {
	overflow: hidden;
}

// Admin bar styles.
body.admin-bar {
	--wp-admin-bar-height: 0;

	@media screen and (min-width: 601px) {
		--wp-admin-bar-height: 46px;
	}

	@media screen and (min-width: 783px) {
		--wp-admin-bar-height: 32px;
	}
}

hr {
	border: none;
	border-top: 1px solid var(--wp--preset--color--foreground);
	margin-block: 40px;
}
