/**
 * Patterns.
 */

@use "variables";

// Spacings.
header.wp-block-template-part {

	+ main.wp-block-group {
		margin-top: 0;
	}
}

footer.wp-block-template-part {
	margin-top: 0;
}

// Blog Meta
.blog-meta {

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Error 404
.error-404-content {
	--wp--style--global--content-size: clamp(260px, 88vw, 900px);

	.wp-block-cover {
		min-height: 300px;

		@media screen and (min-width: variables.$sm) {
			min-height: 420px;
		}
	}

	.wp-block-cover__image-background {
		object-fit: contain;
	}

	+ footer.wp-block-template-part {
		margin-block-start: 0;

		.one-novanta-footer {
			margin-block-start: 0;
		}
	}
}

// Blog single
.single-post,
.single-novanta_application {

	.entry-content {

		h2, h3, h4, h5, h6,
		> figure {
			margin-block: var(--wp--preset--spacing--40);

			&:first-child {
				margin-block-start: 0;
			}

			&:last-child {
				margin-block-end: 0;
			}
		}
	}

	.blog-single-columns__sidebar {
		font-family: var(--wp--preset--font-family--heading);

		strong {
			font-weight: 600;
		}
	}

	@media (max-width: 781px) {

		.blog-single-columns {
			position: relative;
			padding-bottom: calc( var(--one-novanta-social-share-height) + var(--wp--preset--spacing--40) );
		}

		.blog-single-columns__content {
			border: 0;
			margin-block-start: var(--wp--preset--spacing--20);
			padding-left: 0 !important;
		}

		.blog-single-columns__sidebar {
			padding-right: 0 !important;

			.wp-block-group.is-position-sticky {
				position: initial;
			}
		}

		#one-novanta-blog-social-share {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.table-of-content {
			margin-bottom: 0;
		}

		.large-text-block--cover {
			padding-block: var(--wp--preset--spacing--40) !important;
		}

		.large-text-block__text {
			width: 100%;
		}
	}
}
