/**
 * Utility Classes.
 */

 body.loading {
	overflow: hidden;

	&::before {
		content: "";
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(3px);
		top: 0;
		left: 0;
		z-index: 999990;
	}

	&::after {
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3C!-- Icon from SVG Spinners by Utkarsh Verma - https://github.com/n3r4zzurr0/svg-spinners/blob/main/LICENSE --%3E%3Cpath fill='currentColor' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='.25'/%3E%3Cpath fill='currentColor' d='M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
		content: "";
		width: 32px;
		aspect-ratio: 1;
		border-radius: 50%;
		position: fixed;
		display: block;
		inset: 0;
		margin: auto;
		z-index: 999999;
	}
}

.stretched-link {
	text-decoration: none;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
	}
}
