// Admin checkbox styles.
#posts-filter,
.edit-post-layout__metaboxes {

	input[type="checkbox"],
	input[type="radio"] {
		appearance: auto !important;

		&:checked::before {
			content: '';
			display: none;
			width: 0;
			height: 0;
		}
	}
}

// WPML checkbox styles fix.
input[type="checkbox"]:checked::before {
	/* stylelint-disable-next-line function-url-quotes */
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E");
	border: none;
	position: initial;
	transform: none;
	width: 1.3125rem;
	height: 1.3125rem;
}
