// Add editor styles here.
@use "variables";
@use "header";
@use "../layouts/components/button/index"; // This is temporary file. Once defualt button styles done, remove this.
@use "../layouts/components/table/index" as table;
@use "../layouts/components/product-search/index" as product-search;
@use "../layouts/components/compare-model-table/index" as compare-model-table;
@use "../layouts/components/filter-dropdown/index" as filter-dropdown;

.is-root-container {
	--wp--style--global--wide-size: calc(100% - 120px);

	> .wp-block.wp-block-one-novanta-separator.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}
}

@media screen and (max-width: calc(variables.$xxl - 1px)) {

	nav.one-novanta-header__navigation {
		content: '';
		display: block;
		height: 28px;
		width: 28px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNSAxNiI+CgkJCQkJPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjEuODk1IiB4PSIuMzY4IiB5PSIuMTA1IiBmaWxsPSJjdXJyZW50Q29sb3IiIHJ4PSIuOTQ3Ij48L3JlY3Q+CgkJCQkJPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjEuODk1IiB4PSIuMzY4IiB5PSI3LjA1MyIgZmlsbD0iY3VycmVudENvbG9yIiByeD0iLjk0NyI+PC9yZWN0PgoJCQkJCTxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIxLjg5NSIgeD0iLjM2OCIgeT0iMTQiIGZpbGw9ImN1cnJlbnRDb2xvciIgcng9Ii45NDciPjwvcmVjdD4KCQkJCTwvc3ZnPg==);
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 20px;

		.wp-block-navigation__container {
			display: none;
		}
	}
}
