/**
 * Header.
 */

@use "variables";
@use "placeholders";

.one-novanta-header {
	$self: &;

	&__hamburger-menu {
		color: var(--wp--preset--color--foreground);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 62px;
		width: 62px;

		@media screen and (min-width: variables.$xxl) {
			display: none;
		}

		svg {
			width: 100%;
			height: auto;
		}
	}

	&__hamburger-menu-open {
		display: flex;
		line-height: 1;
		height: 28px;
		width: 28px;

		#{$self}__navigation--active & {
			display: none;
		}
	}

	&__hamburger-menu-close {
		display: none;
		line-height: 1;
		height: 20px;
		width: 20px;

		#{$self}__navigation--active & {
			display: flex;
		}
	}

	&__cart-link {
		color: var(--wp--preset--color--foreground);
		width: 30px;
		position: relative;

		@media screen and (min-width: variables.$xxl) {
			color: var(--wp--custom--color-dark-gray);
		}
	}

	&__cart-badge {
		position: absolute;
		top: -8px;
		right: 0;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		display: flex;
		font-weight: 700;
		align-items: center;
		justify-content: center;
		font-size: var(--wp--preset--font-size--tiny);
		background-color: transparent;
		color: transparent;

		@media screen and (min-width: variables.$xxl) {
			top: -10px;
			right: -10px;
		}

		&.has-count {
			background-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--background);
		}
	}

	.has-modal-open & .wp-block-navigation__responsive-close {
		max-width: 100%;
	}

	.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content:not(.wp-one-novanta-button) {

		&:hover {
			color: var(--wp--custom--color-dark-gray);
		}
	}

	.wp-block-navigation .wp-block-navigation-item.current-menu-item {
		color: var(--wp--custom--color-dark-gray);
	}

	.one-novanta-header__top {
		color: var(--wp--custom--color-dark-gray);
		min-height: 56px;
		padding: 8px 0;
		gap: 0;

		@media screen and (max-width: calc(variables.$xxl - 1px)) {
			display: none;
		}
	}

	&__bottom {
		gap: var(--wp--preset--spacing--20);
	}

	.wp-block-site-logo {
		padding: var(--wp--preset--spacing--10) 0;
	}

	&__company {
		display: flex;
		align-items: center;
		padding-right: 20px;

		&::after {
			content: "";
			background: var(--wp--custom--color-silver-gray);
			height: 40px;
			width: 1px;
			margin-left: var(--wp--preset--spacing--20);
		}
	}

	.wp-block-one-novanta-header-search-item {
		padding-block: var(--wp--preset--spacing--30);

		@media screen and (min-width: variables.$xxl) {
			display: none;
		}
	}

	// Contact Button.
	&__contact-menu-btn {

		> .wp-block-navigation-item__content {

			@media screen and (min-width: variables.$xxl) {
				padding-block: 18px !important;
				display: inline-block;
			}

			.wp-block-navigation-item__label {

				@media screen and (min-width: variables.$xxl) {
					/* stylelint-disable-next-line function-url-quotes */
					background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54867 0L6.13867 4.58L10.7287 0L12.1387 1.41L6.13867 7.41L0.138672 1.41L1.54867 0Z' fill='black'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-size: 12px;
					background-position: right 20px top 18px;
					cursor: pointer;
					padding: 12px 40px 12px var( --wp--preset--spacing--20 );
					text-decoration: none;
					font-family: var(--wp--preset--font-family--heading);
					font-size: 1.125rem;
					font-weight: 500;
					border: 2px solid var( --wp--preset--color--primary );
					border-radius: var( --wp--custom--border-radius-extra-large );
					display: inline-flex;
					justify-content: center;
					align-items: center;
					gap: var( --wp--preset--spacing--15 );
					line-height: var( --wp--custom--button-line-height );
					color: var( --wp--preset--color--foreground );
					background-color: transparent;
					transition: all .3s;
				}
			}

			&:hover {

				.wp-block-navigation-item__label {

					@media screen and (min-width: variables.$xxl) {
						/* stylelint-disable-next-line function-url-quotes */
						background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54867 0L6.13867 4.58L10.7287 0L12.1387 1.41L6.13867 7.41L0.138672 1.41L1.54867 0Z' fill='white'/%3E%3C/svg%3E%0A");
						background-color: var( --wp--preset--color--primary );
						color: var( --wp--preset--color--background );
					}
				}
			}
		}

		.wp-block-navigation__submenu-icon {

			@media screen and (min-width: variables.$xxl) {
				display: none;
			}
		}
	}

	ul.one-novanta-header__navigation {
		gap: var(--wp--preset--spacing--20);
		margin-right: var(--wp--preset--spacing--70);

		@media screen and (min-width: variables.$xxl) {
			gap: var(--wp--preset--spacing--30);
		}

		> li {

			> .wp-block-navigation-item__content {

				@media screen and (min-width: variables.$xxl) {
					line-height: 1.1112;
					padding-block: var(--wp--preset--spacing--30);
				}
			}
		}

		.wp-block-navigation__submenu-icon {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54867 0L6.13867 4.58L10.7287 0L12.1387 1.41L6.13867 7.41L0.138672 1.41L1.54867 0Z' fill='black'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 12px;
			background-position: center;
			margin: 0;
			height: 60px;
			width: 60px;
			transform: none;
			transition: transform 0.2s;
			-webkit-tap-highlight-color: transparent;

			@media screen and (min-width: variables.$xxl) {
				margin-block-start: 4px;
				margin-inline-start: 8px;
				height: 8px;
				width: 12px;
				transform: none;
			}

			svg {
				display: none;
			}
		}

		.submenu-open .wp-block-navigation__submenu-icon {
			transform: rotate(180deg);
		}

		.has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
			margin-inline-end: var(--wp--preset--spacing--20);
		}

		.has-child .wp-block-navigation-submenu__toggle[aria-expanded="true"]~.wp-block-navigation__submenu-container,
		.has-child:not(.open-on-click):hover>.wp-block-navigation__submenu-container,
		.has-child:not(.open-on-click):not(.open-on-hover-click):focus-within>.wp-block-navigation__submenu-container {

			@media screen and (min-width: variables.$xxl) {
				min-width: 260px;
			}
		}
	}

	.wp-block-navigation__submenu-container {

		@media screen and (min-width: variables.$xxl) {
			border-bottom-right-radius: var(--wp--custom--border-radius-normal);
			border-bottom-left-radius: var(--wp--custom--border-radius-normal);
			padding-block: var(--wp--preset--spacing--20);
		}

		.wp-block-navigation-item__content {

			@media screen and (min-width: variables.$xxl) {
				padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
			}
		}

		.wp-block-navigation-submenu {
			border-radius: var(--wp--custom--border-radius-normal);
		}
	}

	.wp-block-navigation.items-justified-right .wp-block-navigation__container .has-child .wp-block-navigation__submenu-container {

		@media screen and (min-width: variables.$xxl) {
			left: 0;
			right: auto;
		}
	}

	.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {

		@media screen and (min-width: variables.$xxl) {
			left: 100% !important;
		}
	}

	// Mobile only styles
	@media screen and (max-width: calc(variables.$xxl - 1px)) {

		&__bottom {
			margin-top: 0;
		}

		.wp-block-site-logo img {
			max-width: 92px;
			height: auto;
		}

		&__navigation-wrap {
			order: 2;
		}

		nav.one-novanta-header__navigation {
			gap: 0;
			position: static;
		}

		ul.one-novanta-header__navigation {
			position: absolute;
			background-color: var(--wp--preset--color--background);
			visibility: hidden;
			opacity: 0;
			width: 100%;
			height: calc(100vh - 62px);
			top: 62px;
			left: 0;
			z-index: 100;
			display: block;
			gap: 0;
			align-items: flex-start;
			justify-content: flex-start;
			overflow: auto;
		}

		&__navigation--active ul.one-novanta-header__navigation {
			border-top: 1px solid var(--wp--preset--color--quaternary);
			opacity: 1;
			visibility: visible;
		}

		.wp-block-navigation .wp-block-navigation-item {
			width: 100%;
			justify-content: space-between;
		}

		ul.one-novanta-header__navigation > .wp-block-navigation-item {
			border-bottom: 1px solid var(--wp--preset--color--quaternary);
			max-width: var(--wp--style--global--wide-size);
			margin-inline: auto;
			min-height: 61px;
			flex-flow: row wrap;
		}

		.wp-block-navigation__responsive-container-open {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='16' fill='none'%3E%3Crect width='24' height='1.895' x='.368' y='.105' fill='%23000' rx='.947'/%3E%3Crect width='24' height='1.895' x='.368' y='7.053' fill='%23000' rx='.947'/%3E%3Crect width='24' height='1.895' x='.368' y='14' fill='%23000' rx='.947'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			display: block;
			width: 32px;
			height: 32px;

			svg {
				display: none;
			}
		}

		.wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded="true"]~.wp-block-navigation__submenu-container:not(.is-open),
		.wp-block-navigation .has-child:not(.open-on-click):hover>.wp-block-navigation__submenu-container:not(.is-open),
		.wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within>.wp-block-navigation__submenu-container:not(.is-open) {
			height: 0;
			min-width: 0;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
			width: 0;
		}

		.one-novanta-header__navigation .wp-block-navigation  .wp-block-navigation-submenu.is-open {
			border: 0;
			padding-bottom: 15px;
			position: static;
			width: 100% !important;
		}

		&__right .wp-block-group > .header-search {
			display: none;
		}

		.locale-switcher {
			margin-right: var(--wp--preset--spacing--10);
		}

		.locale-switcher__button {
			min-height: 34px;
			min-width: 54px;
		}

		#{$self}__right {
			gap: 0;
		}

		#{$self}__cart-link {
			display: flex;
			justify-content: center;
			width: 42px;
			margin-left: 4px;

			svg {
				width: 26px;
			}
		}
	}

	@media screen and (min-width: variables.$xxl) {

		&__right {

			> .wp-block-group {
				position: relative;
			}
		}

		&__right,
		&__navigation-wrap {
			flex-grow: 1;
		}
	}
}

body.has-mobile-navigation-open {
	overflow: hidden;
}
