/**
 * Form Fields.
 */

@use "variables";
@use "placeholders";
@use "mixins";
@use "../layouts/components/sidebar-grid";

.one-novanta-search-form {

	.wp-block-search {
		display: flex;
		position: relative;
		overflow: visible;
		flex: 1 1 100%;
		max-width: 60%;
		width: 100%;

		// Need this variable because we will not reduce the height of form input in mobile to 40px if we use variable from the theme.json
		--search-form-element-height: 50px;

		@media screen and (max-width: variables.$lg) {
			max-width: unset;
		}

		&__inside-wrapper {
			display: flex;
			align-items: center;
			position: relative;
			justify-content: space-between;
			width: 100%;
		}

		input[type="search"] {
			background-image: none;
			width: calc(100% - var(--wp--preset--spacing--100));
			padding: 5px var(--wp--preset--spacing--20) 8px var(--wp--preset--spacing--20);
			color: var(--wp--custom--color-dark-foreground);
			font-size: var(--wp--preset--font-size--medium);
			font-family: var(--wp--preset--font-family--heading);
			height: var(--search-form-element-height);
			line-height: 1.5;
			font-weight: var(--wp--preset--font-weight--normal);
			border-radius: calc(var(--search-form-element-height) / 2);

			@media screen and (min-width: variables.$sm) {
				padding-left: var(--wp--preset--spacing--80);
				/* stylelint-disable-next-line function-url-quotes */
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23555050' stroke='%23555050' stroke-width='.5' d='M10.669 3.276C15-.122 21.289.101 25.352 3.89a11.002 11.002 0 0 1 1.478 14.463l-.321.43c-3.646 4.648-10.776 5.834-15.893 1.847-.032.043-.07.088-.114.13v.002c-1.31 1.297-2.624 2.594-3.938 3.89a6007.802 6007.802 0 0 0-3.937 3.891l-.001-.001c-.254.255-.565.471-.975.48l-.181-.008C.539 28.9.052 27.85.6 27.08h.002l.088-.113c.093-.109.195-.205.277-.286l7.808-7.705.102-.088C5.045 14.025 5.883 7.4 10.256 3.618l.413-.342Zm6.527.122c-4.437.216-8.023 3.748-8.262 8.125l-.013.442c-.014 4.726 3.932 8.626 8.722 8.612l.448-.013c4.592-.24 8.253-4.005 8.256-8.582l-.011-.44c-.233-4.523-4.037-8.144-8.692-8.153l-.448.01Z'/%3E%3C/svg%3E");
				background-size: 26px;
				background-repeat: no-repeat;
				background-position: center left var(--wp--preset--spacing--30);
			}

			&::placeholder {
				font-size: var(--wp--preset--font-size--medium);
			}
		}

		&__button {
			border-radius: 25px;
			transition: all 0.3s ease-in-out;
			border: 2px solid transparent;
			height: var(--search-form-element-height);
			padding: 0 var(--wp--preset--spacing--20);
			font-size: var(--wp--preset--font-size--medium);
			font-family: var(--wp--preset--font-family--heading);
			width: auto;
			flex-shrink: 0;

			&:hover {
				background-color: transparent;
				border: 2px solid var(--wp--preset--color--primary);
				color: var(--wp--preset--color--foreground);
			}

			&:focus-visible {
				background-color: transparent;
				color: var(--wp--preset--color--foreground);
				outline: 2px solid var(--wp--preset--color--quinary);
			}
		}

		&__label {
			display: none;
		}
	}

	&__clear {
		display: none;
		position: absolute;
		top: 50%;
		left: var(--search-input-width);
		transform: translateY(-50%);
		color: var(--wp--custom--color-dark-gray);
		padding: 6px; // Touch target accessibility size

		&:hover {
			color: var(--wp--preset--color--primary);
		}

		&:focus-visible {
			outline: 2px solid var(--wp--preset--color--quinary);
		}
	}

	&__clear--visible {
		display: flex;
	}
}

.one-novanta-search-query-loop {
	flex-basis: 60%;

	@media (max-width: variables.$lg) {
		flex-basis: 100%;
	}

	.wp-block-post {
		margin-block-end: var(--wp--preset--spacing--40);
		margin-block-start: 0;

		&:last-child {
			margin-block-end: var(--wp--preset--spacing--60);
		}
	}

	.wp-block-query {
		width: 100%;
	}

	.wp-block-query-no-results {
		width: 100%;
	}

	.wp-block-post-excerpt__more-link {
		text-decoration: none;
		color: var(--wp--preset--color--primary-blue);

		&:hover {
			text-decoration: underline;
		}
	}
}

.wp-block-query-pagination {
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--wp--preset--spacing--10) !important;

	.page-numbers,
	.wp-block-query-pagination-next,
	.wp-block-query-pagination-previous {

		@extend %pagination-button;
	}

	// Additional padding for number buttons
	.page-numbers {
		padding: 0 var(--wp--preset--spacing--10);
	}

	// Next and previous buttons needs to be styled slightly differently
	.wp-block-query-pagination-next,
	.wp-block-query-pagination-previous {
		border: 0;
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%0A%3Csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6976 1.95312L32.605 12.1561H1.61328' stroke='%23555050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.2812 23.2908L32.6043 12.1562' stroke='%23555050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: var(--wp--preset--spacing--30);
		text-indent: -99999px;
		width: var(--wp--preset--spacing--40);
		height: var(--wp--preset--spacing--40);
		display: flex;
		align-items: center;
		align-self: center;
		transform: rotate(180deg);

		&:hover {
			background-color: var(--wp--custom--color-snow-white);
			transform: rotate(180deg) translateX(2px);
		}
	}

	.wp-block-query-pagination-next {
		transform: none;

		&:hover {
			transform: translateX(2px);
		}
	}

	.wp-block-query-pagination-numbers {
		display: flex;
		gap: var(--wp--preset--spacing--10);
		justify-content: flex-start;
	}

	@media (max-width: variables.$sm) {
		// Pagination Query block gap.
		gap: 5px !important;

		// Pagination number element gap.
		.wp-block-query-pagination-numbers {
			gap: 5px;
		}
	}

	.current {
		color: var(--wp--custom--color-snow-white);
		background-color: var(--wp--custom--color-dark-gray);
	}

	// Editor-only tweaks
	.block-editor-block-list__block {

		.page-numbers {
			padding: 0;
		}
	}
}

.one-novanta-search-page-container {

	.one-novanta-search-query-loop {
		align-items: flex-start;
	}

	.sidebar-grid__sidebar {
		justify-content: flex-start;
		margin-top: var(--wp--preset--spacing--40);

		@media screen and (min-width: variables.$lg) {
			margin-top: 0;
		}
	}
}

.one-novanta-query-pagination-mobile {
	display: none;
}

@media (max-width: variables.$md) {

	.one-novanta-query-pagination-desktop {
		display: none;
	}

	.one-novanta-query-pagination-mobile {
		display: block;
	}
}
