/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 @use "../../layouts/components/media-text-narrow/index" as *;

.media-text-narrow {
	$self: &;

	&__media {

		#{$self}__media-placeholder {
			height: 100%;
			justify-content: center;
			border-radius: var(--wp--custom--border-radius-medium);
		}
	}

	&__custom-title {
		margin-block-start: 0;
	}

	.notice {
		margin-left: 0;
	}
}
