/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../scss/variables";

.one-novanta-search-results-title-count {

	// Need parent class nested here to avoid specificity issues
	.search-results-title-count {
		margin-block-start: var(--wp--preset--spacing--30);
		margin-block-end: var(--wp--preset--spacing--20);
	}
}

.search-results-title-count {

	&__title {
		font-weight: 600;
		letter-spacing: -1px;
		margin: 0;

		@media screen and (min-width: variables.$md) {
			letter-spacing: -5px;
		}
	}

	&__count {
		letter-spacing: -1px;
		font-weight: 400;
		vertical-align: baseline;
		margin-left: var(--wp--preset--spacing--40);
		white-space: normal;

		@media screen and (max-width: variables.$md) {
			margin-left: var(--wp--preset--spacing--10);
		}

		@media screen and (max-width: variables.$sm) {
			display: block;
			margin: var(--wp--preset--spacing--10) 0 0;
		}
	}
}
