/**
 * Component: Video.
 */
@use "../../../scss/variables";

.novanta-video {
	display: block;

	&__thumbnail {
		position: relative;
		container-type: inline-size;
		container-name: video-thumbnail;
	}

	.media-lightbox__figure {
		position: relative;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__caption {
		font-size: var(--wp--preset--font-size--medium);
		margin: 5px 0 0;
	}

	&__play-button {
		--play-button-size: 80px;
		background-color: transparent;
		border: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: var(--wp--preset--color--background);

		// Update play button size based on thumbnail container size
		@container video-thumbnail (min-width: #{variables.$sm}) {
			--play-button-size: 80px;
		}

		@container video-thumbnail (min-width: #{variables.$md}) {
			--play-button-size: 120px;
		}

		@container video-thumbnail (min-width: #{variables.$lg}) {
			--play-button-size: 160px;
		}

		svg {
			width: var(--play-button-size);
			height: var(--play-button-size);
		}
	}
}
