/**
 * Component: Search Filter.
 */

@use "../../../scss/variables";

.one-novanta-search-filter {
	position: relative;
}

.search-filter {
	display: flex;
	gap: .75rem;
	overflow: scroll;
	scrollbar-width: none;

	&__post-types {
		align-items: flex-start;
		display: flex;
		flex-wrap: nowrap;
		gap: var(--wp--preset--spacing--10);
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	&__post-type-link {
		font-size: var(--wp--preset--font-size--medium);
		list-style: none;
		margin: 0;
		padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--30);

		@media screen and (max-width: variables.$md) {
			padding: 7px var(--wp--preset--spacing--20);
		}
	}

	.left-blur,
	.right-blur {
		position: absolute;
		width: var(--wp--preset--spacing--100);
		height: 100%;
		pointer-events: none;
		top: 0;
		opacity: 0;
		transition: opacity 0.3s;

		&.show {
			opacity: 1;
		}
	}

	.left-blur {
		background: linear-gradient(90deg, var(--wp--preset--color--background) 0%, rgba(255, 255, 255, 0) 100%);
		left: 0;
	}

	.right-blur {
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--wp--preset--color--background) 100%);
		right: 0;
	}
}
