/**
 * Color Palette.
 */

.color-palette {
	margin-top: var(--wp--preset--spacing--typography);

	&__color-set {
		display: grid;
		gap: var(--grid-col-gutter);
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		margin-top: var(--wp--preset--spacing--typography);
	}

	&__color {
		background-color: var(--color-white);
		border: 1px solid var(--wp--preset--color--tertiary);
		border-radius: var(--wp--custom--border-radius-normal);
		flex: 1;
		overflow: hidden;
		transition: all 300ms 100ms ease-in-out;

		&:hover {
			transform: scale(1.1);
			box-shadow: var(--shadow-3);
		}
	}

	&__color-title {
		padding: 20px;
	}

	&__color-text {
		font-weight: var(--font-weight-bold);
		margin-bottom: 2px;
	}

	&__box {
		aspect-ratio: 1/1;
		border-bottom: 1px solid var(--wp--preset--color--tertiary);
	}
}
