/**
 * Component: Media Text Narrow.
 */

@use "../../../scss/variables";

.media-text-narrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-block-start: var(--grid-section-gutter);

	&:first-child {
		margin-block-start: 0;
	}

	@media screen and (min-width: variables.$md) {
		flex-flow: nowrap;
	}

	&--media-align-right {

		@media screen and (min-width: variables.$md) {
			flex-direction: row-reverse;
		}
	}

	&--vertical-align-top {
		align-items: flex-start;
	}

	&--vertical-align-bottom {
		align-items: flex-end;
	}

	&__content {
		flex: 0 0 100%;
		min-width: 0;
		margin-block-start: var(--wp--preset--spacing--40);

		@media screen and (min-width: variables.$md) {
			flex: 0 0 33.81%;
			margin-block-start: 0;
		}

		@media screen and (min-width: variables.$lg) {
			flex: 0 0 23.81%;
		}
	}

	&__overline {
		font-weight: 600;
		margin-block-end: 5px;
		text-transform: uppercase;
	}

	&__media {
		border-radius: var(--wp--custom--border-radius-medium);
		flex: 0 0 100%;
		margin-bottom: 0;
		min-width: 0;
		overflow: hidden;
		aspect-ratio: 118 / 63;

		@media screen and (min-width: variables.$md) {
			flex: 0 0 60.24%;
		}

		@media screen and (min-width: variables.$lg) {
			flex: 0 0 70.24%;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
