@use "../../scss/variables";
@use "../../layouts/components/featured-content";
@use "../../layouts/components/video";

.featured-content__media-placeholder {
	width: 100%;
	height: auto;
	aspect-ratio: 840 / 460;
	object-fit: cover;
	border-radius: var(--wp--preset--spacing--10);

	.components-placeholder {
		height: 100%;
		justify-content: center;
		border-radius: var(--wp--preset--spacing--10);
	}

	&__image {
		aspect-ratio: 840 / 460;
	}

	.novanta-video {

		&__thumbnail {

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
			}
		}
	}
}

.featured-content__content {

	h2,
	p {
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--30);
	}
}

@media screen and (max-width: variables.$md) {

	.featured-content__content {

		h2,
		p {
			margin-top: 0;
			margin-bottom: var(--wp--preset--spacing--20) !important;
		}
	}
}
