/**
 * Component: Title Carousel.
 */

@use "@/scss/variables";
@use "@rtcamp/web-components/build/slider/style";

.tile-carousel {
	$self: &;

	&__content {
		display: flex;
		flex-direction: column;
		max-width: var(--wp--style--global--wide-size);
	}

	&__heading {
		text-align: center;
		margin-block-end: var(--wp--preset--spacing--50);
	}

	&__track {
		margin-inline: calc(-1 * var(--wp--preset--spacing--20));
	}

	// As /tile-carousel/item component is used by other components.
	// By this way we will not add unnecessary padding.
	&__slides > * {
		padding-inline: var(--wp--preset--spacing--20);
	}

	&__slide {
		// Show 1 slide.
		flex: 0 0 100%;

		@media screen and (min-width: variables.$md) {
			// Show 2 slides.
			flex: 0 0 50%;
		}

		@media screen and (min-width: variables.$lg) {
			// Show 3 slides.
			flex: 0 0 33.3333%;
		}
	}

	&__navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-block-start: var(--wp--preset--spacing--60);

		#{$self}__slider[total="2"] & {

			@media screen and (min-width: variables.$md) {
				display: none;
			}
		}

		#{$self}__slider[total="3"] & {

			@media screen and (min-width: variables.$lg) {
				display: none;
			}
		}
	}

	&__navigation-arrow {
		display: flex;
		justify-content: center;
		align-items: center;

		&[disabled="yes"] {
			opacity: 0.5;
		}
	}

	&__navigation-arrow--previous {
		margin-right: var(--wp--preset--spacing--30);

		svg {
			transform: rotate(180deg);
		}
	}

	&__navigation-arrow-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--wp--preset--spacing--60);
		width: var(--wp--preset--spacing--60);
		background-color: #dbdbdb;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		color: var(--wp--preset--color--foreground);

		// Smooth transition for background and border
		transition: background-color var(--transition-time) var(--transition-easing), border 0.2s var(--transition-easing);

		// Show focus style for keyboard navigation (accessibility)
		&:focus-visible {
			background-color: var(--wp--preset--color--tertiary);
			border: 2px solid var(--wp--preset--color--foreground);
		}

		&:hover {
			background-color: var(--wp--preset--color--tertiary);
		}

		&:active {
			transform: scale(0.95);
		}
	}

	svg {

		@media screen and (max-width: variables.$md) {
			width: var(--wp--preset--spacing--10);
		}
	}
}
