/**
 * List block styles.
 */

.wp-block-list {

	&:first-child {
		margin-block-start: 0;
	}

	&:last-child {
		margin-block-end: 0;
	}

	li + li {
		margin-block-start: var(--wp--preset--spacing--10);
	}
}
