/**
 * Paragraph Block style variation.
 */

.large-text-block__text {
	width: 75%;

	&.has-text-align-left {
		justify-self: flex-start;
	}

	&.has-text-align-center {
		justify-self: center;
	}

	&.has-text-align-right {
		justify-self: flex-end;
	}
}
