/**
 * Table block styles.
 */

@use "../variables";

.wp-block-table {
	margin-top: var(--wp--preset--spacing--typography);
	margin-bottom: var(--wp--preset--spacing--typography);
	overflow-x: auto;

	table {
		min-width: 100%;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;

		td {
			border: 1px solid var(--wp--preset--color--tertiary);
			padding: 1em 0.5em;
		}

		th {
			padding: 1em;
			border: 1px solid var(--wp--preset--color--tertiary);
		}

		thead {
			border-bottom: 1px solid var(--wp--preset--color--tertiary);
		}

		tfoot {
			border-top: 1px solid var(--wp--preset--color--tertiary);
		}
	}

	&.is-style-stripes {

		tbody {

			tr:nth-child(odd) {
				background-color: var(--wp--preset--color--secondary);
			}
		}
	}

	@media screen and (min-width: variables.$xl) {
		overflow-x: visible;
	}
}
