/**
 * Component: Media Lightbox.
 */

@use "../../../scss/placeholders";
@use "../../../scss/variables";
@use "~@rtcamp/web-components/build/lightbox/style";

.media-lightbox {
	$self: &;
	--action-buttons-spacing: 1rem;

	display: block;

	&__figure {
		position: relative;
		margin: 0;
		border-radius: var(--wp--custom--border-radius-normal);
		overflow: hidden;

		&:has(#{$self}__caption) {

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(31, 31, 31, 0.6) 0%, rgba(0, 0, 0, 0) 30%);

				@media screen and (min-width: variables.$lg) {
					background: linear-gradient(180deg, rgba(31, 31, 31, 0.6) 0%, rgba(0, 0, 0, 0) 10%);
				}
			}
		}

		img {
			width: 100%;
			height: auto;
			aspect-ratio: 1.8;
			object-fit: cover;
			object-position: center;
			border-radius: var(--wp--custom--border-radius-normal);
		}
	}

	&__caption {
		position: absolute;
		top: var(--wp--preset--spacing--10);
		left: var(--wp--preset--spacing--20);
		margin: 0;
		font-size: var(--wp--preset--font-size--medium);
		font-family: var(--wp--preset--font-family--heading);
		font-weight: 600;
		color: var(--wp--preset--color--background);
		width: calc(100% - var(--wp--preset--spacing--40));
		text-align: left;
	}

	&__trigger {
		position: relative;
		display: block;
	}

	&__trigger-button {
		border: 2px solid transparent;
		border-radius: var(--wp--custom--border-radius-normal);
		display: block;
		width: 100%;

		&:focus-visible {
			background-color: var(--wp--preset--color--tertiary);
			outline: 2px solid var(--wp--preset--color--quinary);
		}
	}

	&__dialog {
		border-radius: var(--wp--custom--border-radius-normal);
		overflow: visible;
		max-width: 90%;
		min-width: 50%;

		@media screen and (min-width: variables.$lg) {
			max-width: 70%;
			max-height: 75dvh;
		}

		&::backdrop {
			background: rgba(0, 0, 0, 0.96);
		}
	}

	&__content-wrapper {
		position: relative;

		img {
			width: 100%;
			max-height: 75dvh;
			object-fit: contain;
			border-radius: var(--wp--custom--border-radius-normal);
		}
	}

	&__count {
		position: absolute;
		top: var(--wp--preset--spacing--10);
		left: var(--wp--preset--spacing--10);
		background-color: rgba(0,0,0,0.4);
		color: var(--wp--preset--color--background);
		font-size: var(--wp--preset--font-size--small);
		border-radius: 50px;
		border: 2px solid var(--wp--preset--color--background);
		padding: 0.5em 1em;
		line-height: 1;
		-webkit-user-select: none;
		user-select: none;
		z-index: 1;
	}

	&__close-button {

		@extend %lightbox-button;
	}

	&__navigation-button {

		@extend %lightbox-button;
	}

	&__trigger-fullscreen {

		@extend %lightbox-button;
		position: absolute;
		right: var(--wp--preset--spacing--10);
		bottom: var(--wp--preset--spacing--10);
		background-color: var(--wp--preset--color--secondary);
	}

	&__content {
		width: 90vw;

		@media screen and (min-width: variables.$lg) {
			width: 70vw;
		}
	}

	&__close {
		position: absolute;
		right: 0;
		top: calc(-1 * var(--action-buttons-spacing));;
		z-index: 1;
		transform: translateY(-100%);
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		position: absolute;
		width: 100%;
		bottom: var(--wp--preset--spacing--10);
		left: 0;
	}

	&__navigation-previous,
	&__navigation-next {
		display: block;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: auto;
		bottom: calc(-1 * var(--action-buttons-spacing));
		z-index: 1;
		transform: translateY(100%);

		@media screen and (min-width: variables.$lg) {
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}

		// Hide navigation buttons when disabled
		&[disabled] {
			display: none;
		}
	}

	&__navigation-previous {
		left: calc(50% - var(--action-buttons-spacing) / 2);
		transform: translateX(-100%) translateY(100%);

		@media screen and (min-width: variables.$lg) {
			left: calc(-1 * var(--action-buttons-spacing));
			right: auto;
			transform: translateX(-100%) translateY(-50%)
		}

		#{$self}__navigation-button {
			transform: rotate(180deg);
		}
	}

	&__navigation-next {
		left: auto;
		right: calc(50% - var(--action-buttons-spacing) / 2);
		transform: translateX(100%) translateY(100%);

		@media screen and (min-width: variables.$lg) {
			left: auto;
			right: calc(-1 * var(--action-buttons-spacing));
			transform: translateX(100%) translateY(-50%)
		}
	}

	&__bullet {
		cursor: pointer;
		font-size: 0;
		line-height: 1;
		padding: 0;
		height: var(--wp--preset--spacing--10);
		width: var(--wp--preset--spacing--10);
		border-radius: 50%;
		border: 1px solid var(--wp--preset--color--foreground);
		background-color: transparent;

		&:focus-visible {
			outline: 2px solid var(--wp--preset--color--quinary);
			border-color: transparent;
		}
	}

	&__bullet[current="yes"] {
		background-color: var(--wp--preset--color--primary);
		border-color: transparent;
	}

	&__video {
		display: block;
		aspect-ratio: 16 / 9;
		max-height: 90dvh;
		width: 100%;
		object-fit: cover;
		border: none;
		border-radius: var(--wp--custom--border-radius-normal);
	}
}
