/**
 * Component: Product Variation Related Modules
 */
ati-product-variation-related-modules {
	$self: &;

	.wp-block-section-is-layout-constrained:has(&:empty) {
		padding-block: 0 !important;
		margin-block: 0 !important;
		display: none;
	}
}
