/**
 * Component: Accordion.
 */

@use "@/scss/variables";
@use "@rtcamp/web-components/build/accordion/style";

.wp-aquila-accordion {

	&__item {
		padding-block: 26px;
		border-bottom: 1px solid var(--wp--preset--color--black);
	}

	&__item:first-child {
		border-top: 1px solid var(--wp--preset--color--black);
	}

	&__handle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--wp--preset--font-size--large);
		text-align: left;
		width: 100%;
		color: var(--wp--preset--color--foreground);
		font-weight: 600;

		@media screen and ( min-width: variables.$sm ) {
			font-size: var(--wp--preset--font-size--x-large);
		}

		&::after {
			content: "";
			display: inline-block;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMSAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjkuNDgwNSAxLjUyMDExVjMxSDAuMDAwNTcwMjk3IiBzdHJva2U9ImN1cnJlbnRDb2xvciIvPjxsaW5lIHgxPSIwLjM1MzU1MyIgeTE9IjEuMTY2NTYiIHgyPSIyOS44MzM1IiB5Mj0iMzAuNjQ2NSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=);
			transition: transform 0.3s ease;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: var(--wp--preset--spacing--20);
			height: var(--wp--preset--spacing--20);

			@media screen and ( min-width: variables.$sm ) {
				width: var(--wp--preset--spacing--30);
				height: var(--wp--preset--spacing--30);
			}
		}

		&:focus-visible {
			outline: 2px solid Highlight;
			outline-offset: 2px;
		}

		@media (prefers-contrast: more) {

			&:focus-visible {
				outline: 2px solid CanvasText; /* High-contrast mode support */
			}
		}
	}

	&__item[aria-expanded="true"] &__heading::after {
		transform: rotate(-90deg);
	}

	&__content {
		transition-duration: 0.3s;

		&-wrap {
			padding-block-end: 0;
			padding-block-start: var(--wp--preset--spacing--20);

			@media screen and ( min-width: variables.$sm ) {
				padding-block-end: 24px;
				padding-block-start: 25px;
			}
		}
	}
}
