/**
 * Component: Accordion.
 */

@use "@/scss/variables";
@use "@rtcamp/web-components/build/accordion/style";

.wp-aquila-accordion {
	max-width: 100%;

	&__wrapper {
		// Reset web component styles
		display: block;
	}

	&__item {
		padding-block: 26px;
		border-bottom: 1px solid var(--wp--preset--color--black);

		&:first-child {
			border-top: 1px solid var(--wp--preset--color--black);
		}

		// Style when accordion is open
		&[aria-expanded="true"] {

			.wp-aquila-accordion__heading::after {
				transform: rotate(-90deg);
			}
		}
	}

	&__handle {
		display: block;
		width: 100%;
		cursor: pointer;

		// Ensure handle takes full width
		button {
			width: 100%;
		}
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--wp--preset--font-size--medium);
		text-align: left;
		width: 100%;
		color: var(--wp--preset--color--foreground);
		font-weight: 600;

		// Reset button styles
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		font-family: inherit;
		line-height: 1.4;

		@media screen and ( min-width: variables.$sm ) {
			font-size: var(--wp--preset--font-size--medium);
		}

		// Arrow icon
		/* stylelint-disable-next-line no-descending-specificity */
		&::after {
			content: "";
			display: inline-block;
			flex-shrink: 0;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMSAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjkuNDgwNSAxLjUyMDExVjMxSDAuMDAwNTcwMjk3IiBzdHJva2U9ImN1cnJlbnRDb2xvciIvPjxsaW5lIHgxPSIwLjM1MzU1MyIgeTE9IjEuMTY2NTYiIHgyPSIyOS44MzM1IiB5Mj0iMzAuNjQ2NSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=);
			transition: transform 0.3s ease;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: var(--wp--preset--spacing--20);
			height: var(--wp--preset--spacing--20);
			margin-left: 16px;

			@media screen and ( min-width: variables.$sm ) {
				width: var(--wp--preset--spacing--30);
				height: var(--wp--preset--spacing--30);
				margin-left: 24px;
			}
		}

		// Focus states
		&:hover {
			opacity: 0.8;
		}

		&:focus-visible {
			outline: 2px solid Highlight;
			outline-offset: 2px;
		}

		@media (prefers-contrast: more) {

			&:focus-visible {
				outline: 2px solid CanvasText;
			}
		}
	}

	&__content {
		overflow: hidden;
		transition-duration: 0.3s;
		transition-property: height, opacity;

		&-wrap {
			padding-block-end: 0;
			padding-block-start: var(--wp--preset--spacing--20);

			@media screen and ( min-width: variables.$sm ) {
				padding-block-start: 25px;
			}

			// Better typography for content
			p {
				margin-bottom: 1em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
