/**
 * Component: Info Box.
 */

.info-box {
	$self: &;

	background: var(--wp--custom--color-snow-white);
	box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.15);
	border-radius: var(--wp--custom--border-radius-medium);
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40) var(--wp--preset--spacing--20);

	&__heading {
		margin-block-end: var(--wp--preset--spacing--40);
	}

	&__list {
		font-weight: 600;
		list-style: none;
		padding-left: 0;
	}

	&__list-item {
		padding: var(--wp--preset--spacing--20) 0;

		& + & {
			border-top: 1px solid var(--wp--custom--color-ash-gray);
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: var(--wp--custom--color-dark-gray);
			text-decoration: underline;
		}
	}
}
