@use "../../scss/variables";
@use "../../layouts/components/two-columns/index";

.one-novanta-50-50-wrapper,
.wp-block-one-novanta-fifty-fifty-wrapper {

	h2,
	h3,
	p {
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--20);
	}

	.wp-block-buttons {
		gap: var(--wp--preset--spacing--30);
	}
}

.one-novanta-50-50-wrapper__media-placeholder {
	width: 100%;

	.components-placeholder {
		height: 100%;
		justify-content: center;
		border-radius: var(--wp--preset--spacing--10);
	}
}

.one-novanta-50-50-wrapper__image {
	width: 100%;
	aspect-ratio: 740 / 284;
	border-radius: var(--wp--custom--border-radius-normal);
	object-fit: cover;
	display: block;
}
