/**
 * Styles for the Social Share block.
 *
 * Block: Social Share
 */
 @use 'one-novanta-theme/src/scss/mixins';

.novanta-social-share {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--preset--spacing--10);

	&__link {
		border-radius: var(--wp--custom--border-radius-extra-large);
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}

		&--copy {

			.copy-check {
				visibility: hidden
			}

			&.copied {

				.copy-check {
					visibility: visible;

					@include mixins.fade-in(0.5s);
				}

				.copy-link {
					visibility: hidden;

					@include mixins.fade-out(0.5s);
				}
			}
		}
	}
}
